<label>
    {{ _("Please enter <code>secret</code>:") }}
</label>
<input type="text"
       class="input-block-level"
       data-mfa="token"
       data-test-id="mfa-dummy-token"
       placeholder="secret" />
<button class="btn btn-block btn-large btn-primary"
        data-test-id="mfa-dummy-submit"
        type="submit">{{ _("Submit") }}</button>
