---
layout: page
title: Support OctoPrint
description: Working on OctoPrint takes a lot of time and effort. If you've come to love OctoPrint, consider supporting its ongoing development.
---

<h3>Hi! I'm Gina Häußge, the creator and main developer of OctoPrint. Thank you for following this link!</h3>
<p>
    As you might imagine, <strong>working on OctoPrint takes a lot of time and effort</strong>. The development of new functionality itself
    plus maintenance, bug fixing, testing, release preparations, reviews of contributed code and such alone is already a
    <strong>full time job when done right</strong>, and that even leaves out other coding unrelated tasks like writing documentation,
    community management, server administration etc.
</p>
<p>
    Don't get me wrong, <strong>I really love doing this work</strong>, and I want to continue doing it! But I can't manage this de facto
    full time job next to an actual one. My work on OctoPrint used to be fully backed by a single sponsor, but this is not
    the case any longer. So now I'm asking for your help to <strong>allow me to stay involved with OctoPrint as much as I am now!</strong>
</p>
<p>
    You can <strong>support OctoPrint's development directly</strong> by
    <a href="{{ site.patreon }}" target="_blank" rel="noopener noreferrer" data-event-category="support" data-event-action="patreon">becoming a patron on Patreon</a>
    or <a href="{{ site.paypal }}" target="_blank" rel="noopener noreferrer" data-event-category="support" data-event-action="paypal">making a one-time contribution on Paypal</a>.
    You can also support my work by <strong>buying one of the <a href="#kits">All-in-one Kits listed below</a></strong> from whose proceedings I'll receive a share.
</p>
<p>
    If you are able to support me directly, please note that <strong>becoming a patron on
    <a href="{{ site.patreon }}" target="_blank" rel="noopener noreferrer" data-event-category="support" data-event-action="patreon">Patreon</a>
    allows me to plan ahead better</strong>. Patreon also works through PayPal, you can cancel at any time, and on top of
    that you get access to some nifty perks.
</p>

<div class="container support">
    <div class="row-fluid">
        <div class="span6 support-patreon" id="patreon">
            <h3><i class="fa fa-heart octo-heart"></i>&nbsp;Monthly&nbsp;<i class="fa fa-heart octo-heart"></i></h3>
            <span style="display: block; height: 60px"><a href="{{ site.patreon }}" target="_blank" rel="noopener noreferrer" data-event-category="support" data-event-action="patreon"><img src="{{ BASE_PATH }}/assets/img/patreon-with-text.png"></a></span>
            Want to help regularly?<br>
            <strong>Become a patron on Patreon!</strong><br>
            <small>Also includes some cool extras!</small>
        </div>
        <div class="span6 support-paypal" id="paypal">
            <h3>One time</h3>
            <span style="display: block; height: 60px"><a href="{{ site.paypal }}" target="_blank" rel="noopener noreferrer" data-event-category="support" data-event-action="paypal"><img src="{{ BASE_PATH }}/assets/img/paypal-with-text.png"></a></span>
            Want to help but can't commit to a monthly contribution?<br>
            <strong>Make a one-time contribution through PayPal!</strong><br>
            <small>No paypal.me? Send funds via PayPal to octoprint&#64;foosel&#46;net</small>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12 support-kits" id="kits">
            <h3>All-in-one OctoPrint Kits</h3>
            Want to help and still need some hardware?<br>
            <strong>Buy one of these All-in-one OctoPrint Kits!</strong><br>
            <small>I get a share from the proceedings</small>
            <div class="container">
                <div class="row-fluid kitrow">
                    {% for kit in site.data.kits %}
                        <div class="kit">
                            {% if kit.url %}
                            <a href="{{ kit.url }}" title="{{ kit.title }}" target="_blank" rel="noopener noreferrer" data-event-category="kit" data-event-action="{{ kit.title }}">
                                <span class="imgcontainer">
                                    <img src="{{ BASE_PATH }}/assets/img/kits/{{ kit.image }}" alt="{{ kit.title }}" title="{{ kit.title }}">
                                </span><br>
                                <strong>{{ kit.title }}</strong>
                            </a><br>
                            {% else %}
                            <span>
                                <span class="imgcontainer">
                                    <img src="{{ BASE_PATH }}/assets/img/kits/{{ kit.image }}" alt="{{ kit.title }}" title="{{ kit.title }}">
                                </span><br>
                                <strong>{{ kit.title }}</strong>
                            </span><br>
                            {% endif %}
                            {{ kit.description }}<br>
                            {% if kit.resellers %}
                            <em>Available from</em>
                            <ul class="resellers">
                                {% for reseller in kit.resellers %}
                                    <li><a href="{{ reseller.url }}" target="_blank" rel="noopener noreferrer" title="{{ reseller.title }}" data-event-category="kit" data-event-action="{{ kit.title }}">{{ reseller.title }}</a> [{{ reseller.country }}]</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

