<form class="login-form">
    <input id="totp-token" type="password" placeholder="TOTP token"/>
    <button class="btn btn-block btn-large btn-primary" id="submit-button" data-test-id="totp-submit" type="submit">{{ _('Submit') }}</button>
</form>
