<div id="plugin_mfa_totp_enroll" class="modal hide fade-in">
    <div class="modal-header">
        <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3>{{ _('Enrollment for TOTP based two-factor authentication') }}</h3>
    </div>
    <div class="modal-body">
        <p>{{ _('Scan the QR code with your authenticator app or manually add the provided time based key, then submit a generated token to activate TOTP two-factor authentication.') }}</p>
        <form class="form-horizontal" data-bind="event: {'submit': finishEnrollment }" onsubmit="return false;">
            <div class="control-group">
                <label class="control-label">{{ _('QR Code') }}</label>
                <div class="controls">
                    <div data-bind="qrcode: {text: enrollmentUri, size: 150}"></div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">{{ _('Key') }}</label>
                <div class="controls">
                    <code data-bind="text: enrollmentKey"></code>
                    <span class="help-block">{{ _('Key to manually add to your authenticator app. Make sure to choose "time based" as key type.') }}</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="mfa_totp_enrollment_token">{{ _('Token') }}</label>
                <div class="controls">
                    <input type="text" id="mfa_totp_enrollment_token" inputmode="numeric" minlength="6" maxlength="6" pattern="\d{6}" data-bind="value: verificationToken" placeholder="{{ _("Token")|edq }}" />
                    <span class="help-block text-error" data-bind="visible: verificationError, text: verificationErrorText"></span>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Close') }}</button>
        <button class="btn btn-primary" data-bind="click: finishEnrollment">{{ _('Enroll') }}</button>
    </div>
</div>

<div id="plugin_mfa_totp_verify" class="modal hide fade-in">
    <div class="modal-header">
        <a href="javascript:void()" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3>{{ _('Please verify TOTP deactivation') }}</h3>
    </div>
    <div class="modal-body">
        <p>{% trans %}
            Please submit a generated token from your authenticator app to verify deactivating your two-factor TOTP enrollment.
        {% endtrans %}</p>
        <form class="form-horizontal" data-bind="event: {'submit': finishDeactivation }" onsubmit="return false; // this gets overwritten on view model bind">
            <div class="control-group">
                <label class="control-label" for="mfa_totp_verification_token">{{ _('Token') }}</label>
                <div class="controls">
                    <input type="text" id="mfa_totp_verification_token" inputmode="numeric" minlength="6" maxlength="6" pattern="\d{6}" class="input-block-level" data-bind="value: verificationToken" placeholder="{{ _("Token")|edq }}">
                    <span class="help-block text-error" data-bind="visible: verificationError, text: verificationErrorText"></span>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">{{ _('Abort') }}</button>
        <button class="btn btn-primary" data-bind="click: function() { finishDeactivation(); }">{{ _('Confirm') }}</button>
    </div>
</div>
