<div id="bocusini_doodler_navbar">
	<button type="button" class="btn btn-default btn-lg" onclick="$('body').addClass('doodler_active');">
		<span class="icon icon-edit" aria-hidden="true"></span>
	</button>
</div>

