<div id="bocusini_overlay">
	<!-- background images -->
	<div class="bgContainer">
		<!--		<img id="bgTop"    src="plugin/bocusini_doodler/static/img/bg_top.png" />
				<img id="bgMiddle" src="plugin/bocusini_doodler/static/img/bg_middle.png" />
				<img id="bgBottom" src="plugin/bocusini_doodler/static/img/bg_bottom.png" />-->
		<ul class="cb-slideshow">
			<li><span>Image 01</span><div><h3></h3></div></li>
			<li><span>Image 02</span><div><h3></h3></div></li>
			<li><span>Image 03</span><div><h3></h3></div></li>
			<li><span>Image 04</span><div><h3></h3></div></li>
			<li><span>Image 05</span><div><h3></h3></div></li>
			<li><span>Image 06</span><div><h3></h3></div></li>
		</ul>
	</div>
	<div id="logopanel" ></div>

	<div id="landscape" class="clearfix">
		<div class="centered_content">
			<div class="row">
				<div class="span9">

					<div class="row">
						<div class="span1"></div>
						<div class="span8">

							<ul class="nav nav-tabs-large" id="bocusini_nav" role='navigation' aria-expanded='true'>
								<li role="presentation" class="active"><a href="#bocusini_doodler" data-toggle="tab">Create</a></li>
								<li role="presentation"><a href="#bocusini_files" data-toggle="tab">Select</a></li>
								<li role="presentation"><a href="#bocusini_calibration" data-toggle="tab">Calibration</a></li>
							</ul>
						</div>
					</div>
					<div class="tab-content">
						<div id="bocusini_doodler" class="tab-pane active">
							<div class="row">

								<div class="span1">
									<div class="spacer"></div>
									<div class="doodle_buttons">

										<div class="btn-group btn-group-vertical">
											<button id="btnNew" class="btn btn-large btn-default"><i class="icon-eraser"></i></button>
											<button id="btnOops" class="btn btn-large btn-default"><i class="icon-undo"></i></button>
											<!--<button id="btnWordArt" class="btn btn-large btn-default"><i class="icon-font"></i></button>-->
											<button id="btnScan" class="btn btn-large btn-default"><i class="icon-camera"></i></button>
										</div>
									</div>
								</div>
								<div class="span8" style="position:relative;">
									<div id="centerpanel" class='center_shadow'>
										<div id="drawareacontainer">
											<div id="canvasContainers">

												<div id="mycanvasContainer">
													<img id="imgGuide">
													<canvas id="mycanvas"></canvas>
													<img id="btnCloseScan" class="btn3Doodler" src="plugin/bocusini_doodler/static/img/buttons/btnClose.png" />
												</div>

												<div id="previewContainer">
													<canvas id="preview"></canvas>
													<!--
																  <div id="buttonGroupVerticalShapes" class="buttonGroup">
																	<img id="btnTwist" class="btn3Doodler" src="plugin/bocusini_doodler/static/img/buttons/btnTwist.png" />
																	<img id="btnHeight" class="btn3Doodler" src="plugin/bocusini_doodler/static/img/buttons/btnHeight.png" />
																	<div id="verticalShapes">
																	  <img id="btnConv" class="btn3Doodler" src="plugin/bocusini_doodler/static/img/buttons/btnConv.png" />
																	  <img id="btnDiv" class="btn3Doodler" src="plugin/bocusini_doodler/static/img/buttons/btnDiv.png" />
																	  <img id="btnSine" class="btn3Doodler" src="plugin/bocusini_doodler/static/img/buttons/btnSine.png" />
																	  <img id="btnStraight" class="btn3Doodler" src="plugin/bocusini_doodler/static/img/buttons/btnStraight.png" />
																	</div>
																  </div>
													-->
													<!--<img id="btnToggleVerticalShapes" class="btn3Doodler" src="plugin/bocusini_doodler/static/img/buttons/btnArrowClose.png" />-->
												</div>

											</div>
											<canvas id="preview_tmp"></canvas>

											<!--										<div id="buttonGroupEdit" class="buttonGroup">
																						<img id="btnMove" class="btn3Doodler" src="plugin/bocusini_doodler/static/img/buttons/btnMove.png" />
																						<img id="btnZoom" class="btn3Doodler" src="plugin/bocusini_doodler/static/img/buttons/btnZoom.png" />
																						<img id="btnRotate" class="btn3Doodler" src="plugin/bocusini_doodler/static/img/buttons/btnRotate.png" />
																					</div>
																					<img id="btnToggleEdit" class="btn3Doodler" src="plugin/bocusini_doodler/static/img/buttons/btnArrowOpen.png" />-->

										</div>
									</div>							
								</div>
							</div>

							<!-- left panel -->
							<!--					<div id="leftpanel">
													<img id="btnNew" class="btn3Doodler" src="plugin/bocusini_doodler/static/img/buttons/btnNew.png" /><br/>
															<div id="btnsPrevNext">
															  <img id="btnPrevious" class="btn3Doodler disabled" src="plugin/bocusini_doodler/static/img/buttons/btnLeft.png">
															  <img id="btnNext" class="btn3Doodler disabled" src="plugin/bocusini_doodler/static/img/buttons/btnRight.png">
															</div>
													<img id="btnSave" class="btn3Doodler" src="plugin/bocusini_doodler/static/img/buttons/btnSave.png" /><br/>
													<img id="btnOops" class="btn3Doodler" src="plugin/bocusini_doodler/static/img/buttons/btnOops.png" /><br/>
													<img id="btnAdd" class="btn3Doodler" src="plugin/bocusini_doodler/static/img/buttons/btnAdd.png" /><br/>
													<img id="btnFileManager" class="btn3Doodler" src="plugin/bocusini_doodler/static/img/buttons/btnFileManager.png" /><br/>
													<img id="btnWordArt" class="btn3Doodler" src="plugin/bocusini_doodler/static/img/buttons/btnWordArt.png" />
													<img id="btnScan" class="btn3Doodler" src="plugin/bocusini_doodler/static/img/buttons/btnGuide.png" />
							
													<div id="buttonGroupAdd" class="buttonGroup">
														<img id="btnShape" class="btn3Doodler" src="plugin/bocusini_doodler/static/img/buttons/btnShape.png" />
													</div>
							
												</div>-->


							<!--					<div id="debug_textArea">
													<button onclick="settingsWindow.downloadGcode()">Download gcode</button>
												</div>-->

							<!--					<div id="debug_display"></div>-->

							<div id="popupMask" class="btn3Doodler"></div>

							<div class="popup" id="popupWordArt">
								<div class="content">
									<h1>Add WordArt</h1>
									Please enter your text:<br>
									<input id="txtWordArt" type="text"/>
									<img id="btnWordArtOk" class="btn3Doodler" src="plugin/bocusini_doodler/static/img/buttons/btnOk.png">
								</div>
							</div>

							<div class="popup" id="popupScan">
								<div class="content">
									<h1>Use photo as a guide</h1>
									<input id="fileScan" type="file"/>
									<!-- <input id="txtDummy" type="text"/> -->
									<img id="btnScanOk" class="btn3Doodler" src="plugin/bocusini_doodler/static/img/buttons/btnOk.png">
								</div>
							</div>

							<div class="popup" id="popupShape">
								<div class="content">
									<h1>Add a new shape</h1>
									<div class="columnRight">
										<img id="iconShapeLessPoints" src="plugin/bocusini_doodler/static/img/shapeLessPoints.gif" />
										<img class="btn3Doodler" id="btnShapeMin" src="plugin/bocusini_doodler/static/img/buttons/btnMin.png" />
										<img class="btn3Doodler" id="btnShapePlus" src="plugin/bocusini_doodler/static/img/buttons/btnPlus.png" />
										<img id="iconShapeMorePoints" class="icon" src="plugin/bocusini_doodler/static/img/shapeMorePoints.gif" />
										<img class="btn3Doodler" id="btnShapeOk" src="plugin/bocusini_doodler/static/img/buttons/btnOk.png">
									</div>
									<canvas id="shapePreview" width="150" height="150"></canvas><br/>
									<div id="lblShapeResolution"></div>
								</div>
							</div>

							<div id="popupSettings" class="popup">
								<div class="toppanel">
									<img class="title" src="plugin/bocusini_doodler/static/img/settings_title.png" alt="settings" />
								</div>
								<div class="bottompanel">
									<div id="settingsContainer"></div>
									<div class="right">
										<div class="btnContainer">
											<img src="plugin/bocusini_doodler/static/img/buttons/btnOk.png" class="btn3Doodler btnOK" alt="save"/>
										</div>
									</div>
								</div>
							</div>

							<!--	  <div id="message"></div>-->
						</div>
						<div id="bocusini_files" class="tab-pane row">
							<div class='span1'>
								<div class="spacer"></div>
								<div style="display: none;" data-bind="visible: loginState.isUser">
									<!--									<span class="btn btn-primary fileinput-button" data-bind="css: {disabled: !$root.loginState.isUser()}" style="margin-bottom: 10px">
																			<i class="icon-upload-alt icon-white"></i>
																			<span>{{ _('Upload') }}</span>
																			<input id="gcode_upload" type="file" name="file" class="fileinput-button" data-bind="enable: loginState.isUser()">
																		</span>
																		<div id="gcode_upload_progress" class="progress" style="width: 100%;">
																			<div class="bar" style="width: 0%"></div>
																		</div>-->
									<!--									<div>
																			<small class="muted">{{ _('Hint: You can also drag and drop files on this page to upload them.') }}</small>
																		</div>-->
								</div>
								<div class="text-right muted" data-bind="attr: {title: diskusageString}, css: {'text-error': diskusageCritical}, style: {'font-weight': diskusageCritical() || diskusageWarning() ? 'bold' : 'normal'}">
									<!--									<small>
																			{{ _('Free') }}: <span data-bind="text: freeSpaceString"></span> 
																			/ {{ _('Total') }}: <span data-bind="text: totalSpaceString"></span> 
																			<i class="icon-exclamation-sign" data-bind="visible: diskusageWarning" style="display: none"></i>
																		</small>-->
								</div>
							</div>

							<div class='span8 file_selection_box center_shadow'>

								{% include 'bocusini_files.jinja2' %}
							</div>
						</div>
						<div id="bocusini_calibration" class="tab-pane row">
							{% include 'calibration_tab.jinja2' %}
						</div>
					</div>
				</div>
				<div class="span3" id='right_column'>
					<div class="spacer"></div>
					<div class='bocusini_box' id='bocusini_statemonitor'>
						<div class='bocusini_temp'>
							<span class='actualTemp' data-bind="text:_tempStr(actualTemp())"></span> /
							<span data-bind="text:_tempStr(targetTemp())"></span>
							<div data-bind="visible:isPreheating()" class='heating_message' style='display:none;'>
								<i class='icon icon-fire' data-bind="css: { 'wobble': isPreheating()}"></i> heating up
							</div>
						</div>
						<div>
							<div class="progress">
								<div class="bar" id="bocusini_progressBar" data-bind="style: { width: progressString() + '%' }" style="width: 0%;"></div>
							</div>
						</div>
						
						<div id="progressbarCanvasContainer" class="printer_monitor" style='display: none;'>
							<canvas id="progressbarCanvas" width="93" height="82"></canvas>
						</div>
						<div id="thermometerContainer" class="printer_monitor" style='display: none;'>
							<canvas id="thermometerCanvas" width="90" height="120"></canvas>
						</div>
						<div class="clearfix"></div>
					</div>



					<div style="padding: 1em 0;">
						<div id="buttonGroupPrinterDirect" >
							<div class="btn-group btn-group-vertical">
								<button class="btn btn-default btn-large control-box" data-bind="enable: isOperational() && !isPrinting() && loginState.isUser(), click: function() { sendRetractCommand(500) }"><i class="icon-chevron-sign-up"></i></button>
								<button class="btn btn-default btn-large control-box" data-bind="enable: isOperational() && !isPrinting() && loginState.isUser(), click: function() { sendExtrudeCommand(1) }"><i class="icon-chevron-sign-down"></i></button>
							</div>
						</div>
						<div style='margin-top: .5em; text-align: center;'>
							<div class="btn-group btn-group-vertical" id='bocusini_printerstate_buttons'>
								<button class="btn btn-primary btn-large" data-bind="enable: ps.isOperational() && !ps.isPrinting() && loginState.isUser(), click: start"><i class="icon-play"></i></button>
								<button class="btn btn-default btn-large" data-bind="enable: ps.isPrinting() || ps.isPaused() && loginState.isUser(), click: pause"><i class="icon-pause" data-bind="css: { 'pulse': ps.isPaused()}"></i></button>
								<button class="btn btn-danger btn-large" data-bind="enable: ps.isPrinting() && loginState.isUser(), click: cancel">STOP</button>
							</div>
						</div>
					</div>

					<div id="system_buttons" class="btn-group">
						<button class="btn btn-large btn-default" id="btnOctoPrint" data-bind="visible:user_is_admin(), click:hide_doodler">
							<img src="/plugin/bocusini_doodler/static/img/tentacle-76x76.png" style="width:1.05em;"/> 
						</button>
						<button class="btn btn-large btn-default" id="btnShutdown" data-bind="visible:user_is_admin()"><i class="icon-off"></i></button>
						<!--						<button class="btn btn-large btn-default" id="btnSettings"><i class="icon-gear"></i></button>
												<button class="btn btn-large btn-default" id="btnInfo"><i class="icon-info-sign"></i></button>-->
					</div>

				</div>
			</div>
		</div>
	</div>

	<div id="portrait">
		<img id="vertImage" src="plugin/bocusini_doodler/static/img/bg_vertical.png"/>
	</div>
</div>

