<div class='span1'>
	<div class="spacer"></div>
	<div style="display: none;" data-bind="visible: loginState.isUser">

	</div>
</div>

<div class='span8 calibration_howto center_shadow'>
	<div class='tab-content'>
		<div class='active tab-pane calibration_tab' id='calibration_step1'>
			<div class="calibration_picture step1"></div>
				Your Bocusini needs an inital calibration. 
				Follow the simple steps below before your first print.
				Remember to repeat this procedure each time after changing your nozzle.
			<div>
				Move the printhead to the home position by pressing the home button. 
			</div>
			<button class="btn btn-default btn-large box pull-right" data-bind="click: function() { init_calibration(); }">Start <i class="icon-arrow-right"></i></button>
		</div>
		<div class='tab-pane calibration_tab' id='calibration_step2'>
			<div class='row'>

				<div class="calibration_picture step2 span3"></div>
				<div id="zControlButtons" class="btn-group btn-group-vertical span2">
					<button class="btn btn-default btn-large box" id="control-zinc" data-bind=" click: function() { do_calibration(10) }"><i class="icon-arrow-up large"></i></button>
					<button class="btn btn-default btn-large box" id="control-zinc" data-bind=" click: function() { do_calibration(1) }"><i class="icon-arrow-up small"></i></button>
					<button class="btn btn-default btn-large box" id="control-zinc" data-bind="click: function() { do_calibration(.1) }"><i class="icon-arrow-up tiny"></i></button>
					<button class="btn btn-default btn-large box" id="control-zdec" data-bind="click: function() { do_calibration(-.1) }"><i class="icon-arrow-down tiny"></i></button>
					<button class="btn btn-default btn-large box" id="control-zdec" data-bind="click: function() { do_calibration(-1) }"><i class="icon-arrow-down small"></i></button>
					<button class="btn btn-default btn-large box" id="control-zdec" data-bind="click: function() { do_calibration(-10) }"><i class="icon-arrow-down large"></i></button>
				</div>
				<div class='span3'>
					<div>
						Use the z-control buttons on the right to move the nozzle tip
						to the printing surface. Be careful not to move too far as this will damage your Bocusini.
					</div>
					<div>
						Confirm your calibration with the 'Finish' button to store your settings. 
						You are ready to print now.
					</div>
					<div class='txt' id='calibrateBtn'>
						<button class="btn btn-default btn-large box" data-bind="click: function() { finish_calibration(); }">Finish <i class="icon-ok"></i></button>
					</div>
				</div>

			</div>
				
		</div>

	</div>
	

</div>