*.tar.bz2
*.tar.gz
*.7z
*.pyc
*.zip
*.exe
*.gcode
*.swp
darwin-Cura-*
win32-Cura-*
linux-Cura-*
*.iml
Printrun
=======
.idea
.DS_Store
Cura/current_profile.ini
Cura/preferences.ini
build
dist
pypy
OctoPrint.egg-info
*.orig

*.codekit
