src/octoprint/templates/_data/AUTHORS.md
src/octoprint/templates/_data/CHANGELOG.md
src/octoprint/templates/_data/SUPPORTERS.md
src/octoprint/templates/_data/THIRDPARTYLICENSES.md
src/octoprint/plugins/pi_support/.local_debug
docs/_build

devtools

*.tar.bz2
*.tar.gz
*.7z
*.pyc
*.zip
*.exe
*.swp
darwin-Cura-*
win32-Cura-*
linux-Cura-*
*.iml
Printrun
=======
.idea
.vscode
.DS_Store
Cura/current_profile.ini
Cura/preferences.ini
build
dist
pypy

*.orig
*.codekit

*.egg-info
.eggs
.mypy_cache
.pytest_cache
.python-version
.tox

venv*
testconf*
