src/octoprint/templates/_data/AUTHORS.md
src/octoprint/templates/_data/CHANGELOG.md
src/octoprint/templates/_data/SUPPORTERS.md
src/octoprint/templates/_data/THIRDPARTYLICENSES.md

devtools

*.tar.bz2
*.tar.gz
*.7z
*.pyc
*.zip
*.exe
*.swp
darwin-Cura-*
win32-Cura-*
linux-Cura-*
*.iml
Printrun
=======
.idea
.DS_Store
Cura/current_profile.ini
Cura/preferences.ini
build
dist
pypy
OctoPrint.egg-info
*.orig

*.codekit
