---
layout: default
---
<div class="jumbotron">
    <div class="container">
        <div class="row-fluid">
            <div class="span8 hero-content">
                <h1>Octo<wbr>Print</h1>
                <p class="visible-desktop hidden-phone hidden-tablet">The snappy web interface for your 3D printer.</p>
                <p class="visible-phone visible-tablet hidden-desktop">The snappy web interface<br>for your 3D printer.</p>
                <div class="shameless-self-promotion">
                    Created &amp; maintained by Gina Häußge
                </div>
            </div>
            <div class="span4 logo-content">
                <img src="{{ BASE_PATH }}/assets/img/logo.png">
            </div>
        </div>

    </div>
</div>

<section id="shortpromo">
    <div class="container">
        <div class="row-fluid">
            {% for p in site.data.promo %}
            {% if p.icon %}
            <div class="span4 promobox">
                <h1><i class="fa fa-{{ p.icon }} fa-2x"></i></h1>
                <h4>{{ p.title }}</h4>
                <p>{{ p.short-description }}</p>
                {% if p.description %}
                    <p><a data-scroll href="#{{ p.id }}">Learn more</a></p>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="row-fluid">
            <div class="offset2 span8 actionbox">
                <a class="btn btn-large btn-block donatelink" href="/support-octoprint/" title="Support the project!" data-event-category="supportlink" data-event-action="button">
                    <i class="fa fa-heart octo-heart"></i> Support the project!
                </a>
                <a class="btn btn-primary btn-large btn-block" title="Download" href="/download/"><i class="fa fa-download"></i> Download</a>
            </div>
        </div>

        <div class="row-fluid">
            <div class="sponsorbox span12">
                <div class="container">
                    {% if site.data.sponsors.size > 0 %}
                    <div class="row-fluid">
                        <div class="span12">
                            OctoPrint's development is made possible by
                        </div>
                    </div>
                    <div class="row-fluid sponsorrow">
                        {% for sponsor in site.data.sponsors %}
                            <div class="sponsor">
                                <a href="{{ sponsor.url }}" title="{{ sponsor.name }}">
                                    <img src="{{ BASE_PATH }}/assets/img/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.name }}">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            ... and its awesome patrons on <a href="{{ site.patreon }}" target="_blank" rel="noopener noreferrer" data-event-category="support" data-event-action="patreon">Patreon</a>!
                        </div>
                    </div>
                    {% else %}
                    <div class="row-fluid">
                        <div class="span12">
                            OctoPrint's development is made possible by its awesome patrons on <a href="{{ site.patreon }}" rel="noopener noreferrer" data-event-category="support" data-event-action="patreon">Patreon</a>.
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

<section id="features">
    {% for p in site.data.promo %}
    {% if p.description %}
    <div id="{{ p.id }}" class="promo">
        <div class="container">
            <div class="row-fluid">
                <div class="span12 sectiontitle">
                    <h3>{{ p.title }}</h3>
                </div>
            </div>
            <div class="row-fluid">
                {% if p.screenshots %}
                    <div class="span6 promo-description">{{ p.description | markdownify }}</div>
                    <div class="span6 promo-screenshots">
                        <div class="slick-container" data-slick='{"dots": true, "arrows": false, "autoplay": true, "autoplaySpeed": 5000, "prevArrow": "", "nextArrow": ""}'>
                            {% for s in p.screenshots %}
                            {% capture screenie %}{{ BASE_PATH }}/assets/img/{{ s }}{% endcapture %}
                            <div>
                                <a href="{{ screenie }}" data-lightbox="{{ p.id }}">
                                    <img src="{{ screenie }}">
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    {% if p.icon %}
                        <div class="span6 promo-description">{{ p.description | markdownify }}</div>
                        <div class="span6 promo-screenshots"><h1><i class="fa fa-{{ p.icon }} fa-2x"></i></h1></div>
                    {% else %}
                        <div class="span12 promo-description">{{ p.description | markdownify }}</div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</section>

