flask==0.9
werkzeug==0.8.3
tornado==3.0.2
sockjs-tornado>=1.0.0
PyYAML==3.10
Flask-Login==0.2.2
Flask-Principal==0.3.5
pyserial>=2.6
netaddr>=0.7.10
mock>=1.0.1
nose>=1.3.0
watchdog
sarge

sphinxcontrib-httpdomain
sphinx_rtd_theme
