###
# This file is only here to make sure that something like
#
#    pip install -e .[develop]
#
# works as expected. Requirements can be found in setup.py in the
# variables INSTALL_REQUIRES and EXTRA_REQUIRES.
###

# let's force the regular pypi URL, with https, just to be sure
-i https://pypi.python.org/simple
.
