<a id="navbar_show_announcements" class="pull-right" href="javascript:void(0)" data-bind="click: function() { showAnnouncementDialog(); }" title="{{ _('Announcements')|edq }}">
    <i class="fa-bell" data-bind="css: {'far': !unread(), 'fas': unread()}"></i>
</a>
