<?xml version="1.0"?>
<root xmlns="urn:schemas-upnp-org:device-1-0">
    <specVersion>
        <major>1</major>
        <minor>0</minor>
    </specVersion>
    <device>
        <deviceType>urn:schemas-upnp-org:device:Basic:1</deviceType>
        <friendlyName>{{ friendlyName }}</friendlyName>
        <manufacturer>{{ manufacturer }}</manufacturer>
        <manufacturerURL>{{ manufacturerUrl }}</manufacturerURL>
        <modelDescription>{{ modelDescription }}</modelDescription>
        <modelName>{{ modelName }}</modelName>
        <UDN>uuid:{{ uuid }}</UDN>
        <serviceList>
            <service>
                <URLBase>{{ presentationUrl }}</URLBase>
                <serviceType>urn:schemas-dummy-com:service:Dummy:1</serviceType>
                <serviceId>urn:dummy-com:serviceId:dummy1</serviceId>
                <controlURL>/dummy</controlURL>
                <eventSubURL>/dummy</eventSubURL>
                <SCPDURL>/dummy.xml</SCPDURL>
            </service>
        </serviceList>
        <presentationURL>{{ presentationUrl }}</presentationURL>
    </device>
</root>