/*
 * CSS3 Treeview. No JavaScript
 * @version 1.0
 * @author Martin Ivanov
 * @url developer's website: http://wemakesites.net/
 * @url developer's twitter: https://twitter.com/#!/wemakesitesnet
 * @url developer's blog http://acidmartin.wordpress.com/
 **/
 
/*
 * This solution works with all modern browsers and Internet Explorer 9+. 
 * If you are interested in purchasing a JavaScript enabler for IE8 
 * for the CSS3 Treeview, please, check this link:
 * http://experiments.wemakesites.net/miscellaneous/acidjs-css3-treeview/
 **/
 
.css-treeview ul,
.css-treeview li
{
    padding: 0;
    margin: 0;
    list-style: none;
}
 
.css-treeview input
{
    position: absolute;
    opacity: 0;
}
 
.css-treeview
{
    font: normal 11px "Segoe UI", Arial, Sans-serif;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.css-treeview a
{
    color: #000000;
    text-decoration: none;
}

.css-treeview li > input:hover ~ a,
.css-treeview li > a:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: #5087c8;
	background-color: rgba(43, 118, 204, 0.7);
}

.css-treeview a::before
{
    background-image: url("../img/glyphicons-halflings.png");
	background-repeat: no-repeat;
}

.css-treeview li > input:hover ~ a::before,
.css-treeview li > a:hover:before,
.css-treeview .active > a::before {
	background-image: url("../img/glyphicons-halflings-white.png");
}

.css-treeview .active > a {
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	background-color: #4687bb;
	background-color: rgba(43, 118, 204, 0.7);
	outline: 0;
}

.css-treeview .cut > a {
	opacity: .6;
}

.css-treeview input + a + ul
{
    margin: 0 0 0 34px;
}
 
.css-treeview input:not(:checked) ~ ul
{
    display: none;
}
 
.css-treeview input:disabled + a
{
    cursor: default;
    opacity: .6;
}
 
.css-treeview input:checked:not(:disabled) ~ ul
{
    display: block;
}

.css-treeview a,
.css-treeview a::before
{
    display: inline-block;
    height: 20px;
    line-height: 16px;
    vertical-align: middle;
}

.css-treeview [class="directory"]::before {
    content: "";
    width: 16px;
    vertical-align: middle;
	margin: 0 5px 0 0;
	background-position: -408px -120px;
}
.css-treeview [class="file"]::before {
    content: "";
    width: 16px;
    vertical-align: middle;
	margin: 0 5px 0 0;
	background-position: -24px -24px;
}

.css-treeview input + [class="directory"]::before {
    content: "";
    width: 16px;
    vertical-align: middle;
	margin: 0 5px 0 0;
	background-position: -384px -120px;
}
 
.css-treeview input:checked + [class="directory"]::before
{
	width: 16px;
	background-position: -408px -120px;
}
 
/* webkit adjacent element selector bugfix */
@media screen and (-webkit-min-device-pixel-ratio:0)
{
    .css-treeview 
    {
        -webkit-animation: webkit-adjacent-element-selector-bugfix infinite 1s;
    }
 
    @-webkit-keyframes webkit-adjacent-element-selector-bugfix 
    {
        from 
        { 
            padding: 0;
        } 
        to 
        { 
            padding: 0;
        }
    }
}