<a href="https://faq.octoprint.org/serial-log" target="_blank" title="{{ _('serial.log is enabled')|edq }}" aria-label="{{ _('serial.log is enabled')|edq }}" rel="noopener noreferrer" data-bind="visible: serialLogWarning(), popover: { placement: 'bottom', title: '{{ _('<code>serial.log</code> is enabled')|esq|safe }}', html: true, content: serialLogPopoverContent, trigger: 'hover' }" style="display: none">
    <i class="fas fa-file-alt"></i>
</a>
