body {
    padding-top: 60px;
}

.tab-content {
    padding: 9px 15px;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;

    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.nav {
    margin-bottom: 0px;
}

.tab-content h1 {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 40px;
    color: #333;
    border: 0;
    border-bottom: 1px solid #E5E5E5;
    font-weight: normal;
}

table {
    table-layout: fixed;
}

table th, table td {
    overflow: hidden
}

table th.gcode_files_name, table td.gcode_files_name {
    text-overflow: ellipsis;
    text-align: left;
    width: 55%;
}

table th.gcode_files_size, table td.gcode_files_size {
    text-align: right;
    width: 25%;
}

table th.gcode_files_action, table td.gcode_files_action {
    text-align: center;
    width: 20%;
}

#temperature-graph {
    height: 350px;
    width: 100%;
    background-image: url("/static/img/graph-background.png");
    background-position: center;
    background-repeat: no-repeat;
}

#temp {
    overflow: hidden;
}

#temp_newTemp, #temp_newBedTemp, #speed_innerWall, #speed_outerWall, #speed_fill, #speed_support, #webcam_timelapse_interval {
    text-align: right;
}


#connection_ports, #connection_baudrates {
    width: 100%;
}

#offline_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    display: none;
}

#offline_overlay_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

#offline_overlay_wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 60px;
}

#offline_overlay_wrapper .container {
    margin: auto;
}

table th.timelapse_files_name, table td.timelapse_files_name {
    text-overflow: ellipsis;
    text-align: left;
    width: 55%;
}

table th.timelapse_files_size, table td.timelapse_files_size {
    text-align: right;
    width: 25%;
}

table th.timelapse_files_action, table td.timelapse_files_action {
    text-align: center;
    width: 20%;
}

#webcam_container {
    width: 100%;
}

#files .popover {
    font-size: 85%;
}

#files .popover p:last-child {
    margin-bottom: 0;
}

.overflow_visible {
    overflow: visible !important;
}

#controls {
    overflow: hidden;
}

#controls .jog-panel {
    float: left;
    margin-right: 20px;
}

#controls h1 {
    text-align: left;
}

#controls .jog-panel > div {
    text-align: center;
}

#controls .jog-panel > div.distance {
    text-align: left;
}

#controls .box {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-left: 8px;
}

#controls .control-box {
    display: block;
    height: 30px;
    margin-bottom: 10px;
}

#controls .btn-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

#controls .btn-group > .btn {
    min-width: 50px;
}

.text-right {
    text-align: right;
}
