<p>{% trans %}
    <strong>To protect against known severe issues with certain versions of third party plugins</strong>, OctoPrint supports
    the use of a centralized plugin version blacklist to automatically disable such plugins before they can interfere
    with normal operation.
{% endtrans %}</p>
