<div class="control-group" title="{{ _('Command to shut down the system OctoPrint is running on')|edq }}">
    <label class="control-label" for="settings-systemShutdownCommand">{{ _('Shutdown system') }}</label>
    <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: server_commands_systemShutdownCommand" id="settings-systemShutdownCommand">
    </div>
</div>
