      <footer>
          <div class="container">
              <div class="row">
                  <div class="span4 footer-left-column">
                      <h2>Contact</h2>
                      <ul class="icons">
                          <li><i class="icon-envelope"></i> Mailinglist: <a href="mailto:octoprint+subscribe@googlegroups.com?subject=Subscribe">Subscribe</a> (<a href="https://groups.google.com/group/octoprint">Archive</a>)</li>
                          <li><i class="icon-google-plus"></i> G+ Community: <a href="https://plus.google.com/communities/102771308349328485741" target="_blank">+OctoPrint</a></li>
                          <li><i class="icon-google-plus"></i> G+ Page: <a href="{{ site.gpluslink }}" target="_blank">+OctoPrint</a></li>
                          <li><i class="icon-facebook-sign"></i> Facebook Page: <a href="{{ site.facebooklink }}" target="_blank">OctoPrint</a></li>
                          <li><i class="icon-twitter"></i> Twitter: <a href="{{ site.twitterlink }}" target="_blank">@OctoPrint3D</a></li>
                          <li><i class="icon-comments-alt"></i> IRC: <a href="irc://chat.freenode.net/octoprint" target="_blank">#octoprint on freenode</a></li>
                      </ul>
                  </div>
                  <div class="span4 footer-center-column hidden-phone">
                      <img src="/assets/img/logo-footer.png">
                  </div>
                  <div class="span4 footer-right-column">
                      <h2>Big Thanks</h2>
                      Cross-browser testing services are kindly provided by <a href="http://www.browserstack.com">BrowserStack</a>.
                      Profiling is done with the help of <a href="http://www.pyvmmonitor.com">PyVmMonitor</a>.
                  </div>
              </div>
              <div class="row">
                  <div class="span12 text-center legal">
                      <small class="visible-desktop visible-tablet hidden-phone">"OctoPrint" is a registered trademark &middot; <a href="/imprint/">Impressum / Imprint</a></small>
                      <small class="hidden-desktop hidden-tablet visible-phone">"OctoPrint" is a registered trademark<br><a href="/imprint/">Impressum / Imprint</a></small>
                  </div>
              </div>
          </div>
      </footer>
