      <footer>
          <div class="container">
              <div class="row">
                  <div class="span4">
                      <h2>Contact</h2>
                      <ul class="icons">
                          <li><i class="icon-envelope"></i> Mailinglist: <a href="mailto:octoprint+subscribe@googlegroups.com?subject=Subscribe">Subscribe</a> (<a href="https://groups.google.com/group/octoprint">Archive</a>)</li>
                          <li><i class="icon-google-plus"></i> G+ Page: <a href="https://plus.google.com/+OctoprintOrg/posts" target="_blank">+OctoPrint</a></li>
                          <li><i class="icon-google-plus"></i> G+ Community: <a href="https://plus.google.com/communities/102771308349328485741" target="_blank">+OctoPrint</a></li>
                          <li><i class="icon-comments-alt"></i> IRC: <a href="irc://chat.freenode.net/octoprint" target="_blank">#octoprint on freenode</a></li>
                          <li><i class="icon-twitter"></i> Twitter: <a href="https://twitter.com/OctoPrint3D" target="_blank">@OctoPrint3D</a></li>
                          <li><i class="icon-legal"></i> <a href="/imprint/">Impressum / Imprint</a></li>
                      </ul>
                  </div>
                  <div class="span4 text-center">
                      <img src="/assets/img/logo-footer.png">
                  </div>
                  <div class="span4 text-right">
                      <h2>Big Thanks</h2>
                      OctoPrint is sponsored &amp; maintained by <a href="http://www.bq.com">BQ</a>.
                      Cross-browser testing services are kindly provided by <a href="http://www.browserstack.com">BrowserStack</a>.
                  </div>
              </div>
          </div>
      </footer>
