<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/"><img src="/assets/img/tentacle-20x20.png" class="tentacle"> {{ site.title }}</a>
      <ul class="nav">
        <li><a href="/download/">Download</a></li>
        <li><a href="https://github.com/foosel/OctoPrint/wiki/FAQ">FAQ</a></li>
        <li><a href="http://docs.octoprint.org">Documentation</a></li>
        <li><a href="https://github.com/foosel/OctoPrint/issues">Issuetracker</a></li>
        <li><a href="/slides/">Slides</a></li>
      </ul>
      <div class="pull-right">
        <a class="brand bqlogo" href="http://www.bq.com"><img src="/assets/img/bq-30x30-allwhite.png"></a>
      </div>
    </div>
  </div>
</div>
