<div class="navbar navbar-inverse navbar-fixed-top" data-scroll-header>
  <div class="navbar-inner">
    <div class="container">
      <a class="brand hidden-phone" href="/"><img src="/assets/img/tentacle-20x20.png" alt="Tentacle logo" class="tentacle"> {{ site.title }}</a>
      <a class="brand visible-phone" href="/"><img src="/assets/img/tentacle-20x20.png" alt="Tentacle logo" class="tentacle"></a>
      <a href="javascript:void(0)" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="pull-right">
        <ul class="nav social-navbar">
          <li><a href="/support-octoprint/" title="Support OctoPrint!"><img src="{{ BASE_PATH }}/assets/img/sponsors/patreon.png" class="navbar-patreon"></a></li>
          <li><a href="{{ site.twitterlink }}" title="OctoPrint on Twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="{{ site.gpluslink }}" title="OctoPrint on G+"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="{{ site.facebooklink }}" title="OctoPrint on Facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="{{ site.sourcerepo }}" title="OctoPrint on Github"><i class="fa fa-github"></i></a></li>
        </ul>
      </div>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/download/">Download</a></li>
          <li><a href="/support-octoprint/">Give back</a></li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Learn <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="https://github.com/foosel/OctoPrint/wiki/FAQ">Frequently Asked Questions</a></li>
              <li><a href="https://github.com/foosel/OctoPrint/wiki">Wiki</a></li>
              <li><a href="http://docs.octoprint.org">Documentation</a></li>
              <li><a href="/slides/">Slides & Talks</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Contribute <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="https://github.com/foosel/OctoPrint">Source</a></li>
              <li><a href="https://github.com/foosel/OctoPrint/blob/master/CONTRIBUTING.md">Contribution Guidelines</a></li>
              <li><a href="https://github.com/foosel/OctoPrint/issues">Issuetracker</a></li>
            </ul>
          </li>
          <li><a href="http://plugins.octoprint.org">Plugins</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
