<h4>{{ _('General') }}</h4>

<p>{% trans %}
    Specify the path to the CuraEngine binary. Note that only
    <strong>versions up to and including 15.04</strong> are supported.
    CuraEngine version 15.06 or newer is <strong>not</strong>
    compatible with this plugin.
{% endtrans %}</p>

<form class="form-horizontal">
    {% include "snippets/settings/cura/enginePath.jinja2" %}
    {% include "snippets/settings/cura/engineLog.jinja2" %}
</form>

<h4>{{ _('Profiles') }}</h4>

{% include "snippets/settings/cura/profiles.jinja2" %}

<button class="btn pull-right" data-bind="click: function() { $root.showImportProfileDialog() }">{{ _('Import Profile...') }}</button>

<div style="clear: both">
    <small>{% trans %}For more information on configuration and usage please <a href="{{ plugin_cura_homepage }}" target="_blank">see the Plugin's homepage</a>.{% endtrans %}</small>
</div>

{% include "snippets/settings/cura/profileImporter.jinja2" %}
