<div class="alert alert-block">
    <p>For additional information on OctoPrint events please see the official documentation <a href="https://docs.octoprint.org/en/master/events/index.html" target="_blank">here</a>.</p>
    <p><strong>Warning:</strong> For changes to take effect you must restart OctoPrint after saving.</p>
</div>
<div class="row-fluid">
    <div class="span4">Event</div>
    <div class="span6">Command</div>
    <div class="span2 btn-group">
        <button class="btn btn-mini" data-bind="click: addEvent"><i class="fa fa-plus"></i> Add</button>
    </div>
</div>
<div data-bind="foreach: settingsViewModel.settings.plugins.events.subscriptions" class="row-fluid">
    <div class="row-fluid">
        <div class="span4" data-bind="text: event"></div>
        <div class="span6" data-bind="text: command"></div>
        <div class="span2 btn-group">
            <button class="btn btn-mini" data-bind="click: $root.editEvent"><i class="fa fa-pencil"></i></button>
            <button class="btn btn-mini btn-danger" data-bind="click: $root.removeEvent"><i class="fa fa-trash-alt"></i></button>
        </div>
    </div>
</div>

<div id="EventCoordinatorEditor" data-bind="with: selected_command" class="modal hide fade">
	<div class="modal-header">
		<a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
		<h3>Command Editor</h3>
	</div>
	<div class="modal-body">
        <div class="control-group">
            <label class="control-label">Event</label>
            <div class="controls">
                <select class="input-block-level" data-bind="value: event, options: $root.settingsViewModel.settings.plugins.events.availableEvents().sort(), optionsCaption: 'Select Event', valueAllowUnset: true"></select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Command</label>
            <div class="controls">
                <input type="text" class="input-block-level" data-bind="value: command" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Type</label>
            <div class="controls">
                <select data-bind="value: type, options: ['gcode', 'system'], optionsCaption: 'Select Event Type', valueAllowUnset: true"></select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Enabled</label>
            <div class="controls">
                <input type="checkbox" data-bind="checked: enabled" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Debug</label>
            <div class="controls">
                <input type="checkbox" data-bind="checked: debug" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
		<div class="row-fluid">
            Don't forget to save in main settings. <button type="button" class="btn" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
