/*body,*/
/*#wrap {*/
    /*width:1000px;*/
    /*height: 680px;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*margin-top: -350px;*/
    /*left: 50%;*/
    /*margin-left: -500px;*/
    /**/
    /*background:#ffffff;*/
    /*border: 5px outset #bbb;*/
    /*-moz-border-radius: 5px;*/
    /*-webkit-border-radius: 5px;*/
    /*border-radius: 5px;*/
/*}*/
/*#control {*/
    /*float:left;*/
    /*width:300px;*/
    /*margin-top: 10px;*/
    /*margin-left: 10px;*/
    /*background:#ffffff;*/
    /*margin-right: 10px;*/
    /*height: 680px;*/
/*}*/
#file_block {
    /*margin-top: 20px;*/
    /*margin-left: 20px;*/
}

#control_bottom {
    position: absolute;
    bottom: 0;
    width: 300px;
    margin-bottom: 10px;
}
#options{
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
}
/*#gcode {
    background: #ffffff;
    float:right;
    width: 680px;
    height: 680px;
    border-width: 2px;
    border-style: none none none solid;
}*/

#canvas{
    /*float: left;*/
    clear:none;
}

#drop_zone {
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 40px;
    margin: 5px;
    text-align: center;
    font: 20pt bold;
    color: #bbb
}
#slider-vertical {
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 0;*/
    height: 580px;
    width: 10px;
    float: right;
}
#slider-horizontal {
    height: 10px;
    width: 570px;
    /*position: absolute;*/
    /*bottom: 0;*/
}

#main_button_block {
    /*float: right;*/
    margin-bottom: 5px;
    margin-right: 5px;
}

#gcode .mbut{
    height:60px;
    width: 250px;
    font-size: 1em;
}

#tabs-min {
    height: 680px;
    padding: 0px;
}

#gcode .mtab{
    background: transparent;
    border: none;
    font-weight: normal;
    font-size: 0.5em;
}

#gcode .mtab-defstate{
    background: transparent;
    border: none;

}

#gcode .mtab-content{
    background: #ffffff;
    background-image: none;
    border: 0px none #dddddd;
    border-bottom-style: none;
    margin: 0px;
}

#gcode .bar {
    -webkit-transition: width 0s linear !important;
    -moz-transition: width 0s linear !important;
    -o-transition: width 0s linear !important;
    transition: width 0s linear !important;
}

#gcode .nav {
    margin-bottom: 0px !important;
}

#gcode .tab-content {
    overflow: visible;
}

#gcode .aboutpage {
    margin: 10px;
}

#accordion_top .ui-accordion-content{
    padding: 5px;
}

#tabs-min .ui-tabs-panel {
    padding: 0px;
}

#progressBlock {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#gcode .colorBox {
    width: 50px;
    height: 15px;
    border: 1px solid #000000;
    float:left;
}

#gcode .activeline {background: #fff0b6 !important;}

