<div class="refresh-trigger accordion-heading-button btn-group" data-bind="visible: $root.refreshVisible">
    <a href="#" data-bind="click: function() { $root.requestData(); }" title="{{ _('Refresh connection options')|edq }}" aria-label="{{ _('Refresh connection options')|edq }}">
        <i class="fas fa-sync"></i>
    </a>
</div>
