<div id="offline_overlay" xmlns="http://www.w3.org/1999/html">
    <div id="offline_overlay_background"></div>
    <div id="offline_overlay_wrapper">
        <div class="container">
            <div class="hero-unit">
                <h1>Server is offline</h1>
                <p id="offline_overlay_message">
                    The server appears to be offline, at least I'm not getting any response from it. I'll try to reconnect
                    automatically <strong>over the next couple of minutes</strong>, however you are welcome to try a manual reconnect
                    anytime using the button below.
                </p>
                <p>
                    <a class="btn btn-primary btn-large" id="offline_overlay_reconnect">Attempt to reconnect</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div id="drop_overlay" data-bind="visible: loginState.isUser()">
    <div id="drop_overlay_background"></div>
    <div id="drop_overlay_wrapper">
        {% if enableSdSupport %}
            <div class="dropzone" id="drop_locally"><span class="centered"><i class="icon-upload-alt"></i><br>Upload locally</span></div>
            <div class="dropzone_background" id="drop_locally_background"></div>
            <div class="dropzone" id="drop_sd"><span class="centered"><i class="icon-upload-alt"></i><br>Upload to SD<br><small data-bind="visible: !isSdReady()">(SD not initialized)</small></span></div>
            <div class="dropzone_background" id="drop_sd_background"></div>
        {% else %}
            <div class="dropzone" id="drop"><span class="centered"><i class="icon-upload-alt"></i><br>Upload</span></div>
            <div class="dropzone_background" id="drop_background"></div>
        {% endif %}
    </div>
</div>

<div id="confirmation_dialog" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3>Are you sure?</h3>
    </div>
    <div class="modal-body">
        <p class="confirmation_dialog_message"></p>
        <p>Are you sure you want to proceed?</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
        <a href="#" class="btn btn-danger confirmation_dialog_acknowledge">Proceed</a>
    </div>
</div>

<div id="first_run_dialog" class="modal hide fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-header">
        <h3><i class="icon-warning-sign"></i> Configure Access Control</h3>
    </div>
    <div class="modal-body">
        <p>
            <strong>Please read the following, it is very important for your printer's health!</strong>
        </p>
        <p>
            OctoPrint by default now ships with Access Control enabled, meaning you won't be able to do anything with the
            printer unless you login first as a configured user. This is to <strong>prevent strangers - possibly with
            malicious intent - to gain access to your printer</strong> via the internet or another untrustworthy network
            and using it in such a way that it is damaged or worse (i.e. causes a fire).
        </p>
        <p>
            It looks like you haven't configured access control yet. Please <strong>set up an username and password</strong> for the
            initial administrator account who will have full access to both the printer and OctoPrint's settings, then click
            on "Keep Access Control Enabled":
        </p>
        <form class="form-horizontal">
            <div class="control-group" data-bind="css: {success: validUsername()}">
                <label class="control-label" for="first_run_username">Username</label>
                <div class="controls">
                    <input type="text" class="input-medium" data-bind="value: username, valueUpdate: 'afterkeydown'">
                </div>
            </div>
            <div class="control-group" data-bind="css: {success: validPassword()}">
                <label class="control-label" for="first_run_username">Password</label>
                <div class="controls">
                    <input type="password" class="input-medium" data-bind="value: password, valueUpdate: 'afterkeydown'">
                </div>
            </div>
            <div class="control-group" data-bind="css: {error: passwordMismatch(), success: validPassword() && !passwordMismatch()}">
                <label class="control-label" for="first_run_username">Confirm Password</label>
                <div class="controls">
                    <input type="password" class="input-medium" data-bind="value: confirmedPassword, valueUpdate: 'afterkeydown'">
                    <span class="help-inline" data-bind="visible: passwordMismatch()">Passwords don't match</span>
                </div>
            </div>
        </form>
        <p>
            <strong>Note:</strong> In case that your OctoPrint installation is only accessible from within a trustworthy network and you don't
            need Access Control for other reasons, you may alternatively disable Access Control. You should only
            do this if you are absolutely certain that only people you know and trust will be able to connect to it.
        </p>
        <p>
            <strong>Do NOT underestimate the risk of an unsecured access from the internet to your printer!</strong>
        </p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-danger" data-bind="click: disableAccessControl">Disable Access Control</a>
        <a href="#" class="btn btn-primary" data-bind="click: keepAccessControl, enable: validData(), css: {disabled: !validData()}">Keep Access Control Enabled</a>
    </div>
</div>