<div id="settings_dialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="settings_dialog_label" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 id="settings_dialog_label">OctoPrint Settings</h3>
    </div>
    <div class="modal-body">
        <div class="tabbable">
            <ul class="nav nav-pills" id="settingsTabs">
                <li class="active"><a href="#settings_printerParameters" data-toggle="tab">Printer Parameters</a></li>
                <li><a href="#settings_webcam" data-toggle="tab">Webcam</a></li>
                <li><a href="#settings_features" data-toggle="tab">Features</a></li>
                <li><a href="#settings_folder" data-toggle="tab">Folder</a></li>
                <li><a href="#settings_temperature" data-toggle="tab">Temperature</a></li>
                <li><a href="#settings_appearance" data-toggle="tab">Appearance</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="settings_printerParameters">
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="settings-movementSpeedX">Movement Speed X Axis</label>
                            <div class="controls">
                                <div class="input-append">
                                    <input type="number" class="input-mini text-right" data-bind="value: printer_movementSpeedX" id="settings-movementSpeedX">
                                    <span class="add-on">mm/min</span>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="settings-movementSpeedY">Movement Speed Y Axis</label>
                            <div class="controls">
                                <div class="input-append">
                                    <input type="number" class="input-mini text-right" data-bind="value: printer_movementSpeedY" id="settings-movementSpeedY">
                                    <span class="add-on">mm/min</span>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="settings-movementSpeedZ">Movement Speed Z Axis</label>
                            <div class="controls">
                                <div class="input-append">
                                    <input type="number" class="input-mini text-right" data-bind="value: printer_movementSpeedZ" id="settings-movementSpeedZ">
                                    <span class="add-on">mm/min</span>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="settings-movementSpeedE">Movement Speed Extruder</label>
                            <div class="controls">
                                <div class="input-append">
                                    <input type="number" class="input-mini text-right" data-bind="value: printer_movementSpeedE" id="settings-movementSpeedE">
                                    <span class="add-on">mm/min</span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="settings_webcam">
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="settings-webcamStreamUrl">Stream URL</label>
                            <div class="controls">
                                <input type="text" class="input-block-level" data-bind="value: webcam_streamUrl" id="settings-webcamStreamUrl">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="settings-webcamStreamUrl">Snapshot URL</label>
                            <div class="controls">
                                <input type="text" class="input-block-level" data-bind="value: webcam_snapshotUrl" id="settings-webcamSnapshotUrl">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="settings-webcamStreamUrl">Path to FFMPEG</label>
                            <div class="controls">
                                <input type="text" class="input-block-level" data-bind="value: webcam_ffmpegPath" id="settings-webcamFfmpegPath">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="settings-webcamBitrate">Timelapse bitrate</label>
                            <div class="controls">
                                <input type="text" class="input-block-level" data-bind="value: webcam_bitrate" id="settings-webcamBitrate">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    <input type="checkbox" data-bind="checked: webcam_watermark" id="settings-webcamWatermark"> Enable OctoPrint watermark in timelapse movies
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="settings_features">
                    <form class="form-horizontal">
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    <input type="checkbox" data-bind="checked: feature_gcodeViewer" id="settings-featureGcodeViewer"> Enable GCode Visualizer
                                </label>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    <input type="checkbox" data-bind="checked: feature_waitForStart" id="settings-featureWaitForStart"> Wait for start on connect
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="settings_folder">
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="settings-folderUploads">Upload Folder</label>
                            <div class="controls">
                                <input type="text" class="input-block-level" data-bind="value: folder_uploads" id="settings-folderUploads">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="settings-folderTimelapse">Timelapse Folder</label>
                            <div class="controls">
                                <input type="text" class="input-block-level" data-bind="value: folder_timelapse" id="settings-folderTimelapse">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="settings-folderTimelapseTemp">Timelapse Temp Folder</label>
                            <div class="controls">
                                <input type="text" class="input-block-level" data-bind="value: folder_timelapseTmp" id="settings-folderTimelapseTemp">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="settings-folderLogs">Logs Folder</label>
                            <div class="controls">
                                <input type="text" class="input-block-level" data-bind="value: folder_logs" id="settings-folderLogs">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="settings_temperature">
                    <form class="form-horizontal">
                        <div class="row-fluid">
                            <div class="offset3 span3"><h4>Extruder</h4></div>
                            <div class="span3"><h4>Bed</h4></div>
                        </div>
                        <div data-bind="foreach: temperature_profiles">
                            <div class="row-fluid" style="margin-bottom: 5px">
                                <div class="span3">
                                    <input type="text" class="span12 text-right" data-bind="value: name">
                                </div>
                                <div class="input-append span3">
                                    <input type="number" class="input-mini text-right" data-bind="value: extruder">
                                    <span class="add-on">&deg;C</span>
                                </div>
                                <div class="input-append span3">
                                    <input type="number" class="input-mini text-right" data-bind="value: bed">
                                    <span class="add-on">&deg;C</span>
                                </div>
                                <div class="span2">
                                    <button title="Remove profile" class="btn btn-danger" data-bind="click: $parent.removeTemperatureProfile"><i class="icon-trash"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="offset9 span2">
                                <button title="Add Profile" class="btn btn-primary" data-bind="click: addTemperatureProfile"><i class="icon-plus"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="settings_appearance">
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="settings-appearanceName">Title</label>
                            <div class="controls">
                                <input type="text" class="input-block-level" data-bind="value: appearance_name" id="settings-appearanceName">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="settings-appearanceColor">Color</label>
                            <div class="controls">
                                <select id="settings-appearanceColor" data-bind="value: appearance_color, options: appearance_available_colors">
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-primary" data-bind="click: saveData">Save</button>
    </div>
</div>
