<div id="offline_overlay" xmlns="http://www.w3.org/1999/html">
    <div id="offline_overlay_background"></div>
    <div id="offline_overlay_wrapper">
        <div class="container">
            <div class="hero-unit">
                <h1>Server není dostupný</h1>
                <p id="offline_overlay_message">
		    Server se zdá být nedostupný. Příštích pár minut se budu pokoušet připojit automaticky. Tlačítkem "Znovu se připojit" můžeš akci kdykoli provést ručně.
                </p>
                <p>
                    <a class="btn btn-primary btn-large" id="offline_overlay_reconnect">Znovu se připojit</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div id="drop_overlay" data-bind="visible: loginState.isUser()">
    <div id="drop_overlay_background"></div>
    <div id="drop_overlay_wrapper">
        {% if enableSdSupport %}
            <div class="dropzone" id="drop_locally"><span class="centered"><i class="icon-upload-alt"></i><br>Nahrát lokálně</span></div>
            <div class="dropzone_background" id="drop_locally_background"></div>
            <div class="dropzone" id="drop_sd"><span class="centered"><i class="icon-upload-alt"></i><br>Nahrát na SD kartu<br><small data-bind="visible: !isSdReady()">(SD karta není inicializovaná)</small></span></div>
            <div class="dropzone_background" id="drop_sd_background"></div>
        {% else %}
            <div class="dropzone" id="drop"><span class="centered"><i class="icon-upload-alt"></i><br>Nahrát</span></div>
            <div class="dropzone_background" id="drop_background"></div>
        {% endif %}
    </div>
</div>

<div id="confirmation_dialog" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3>Jsi si jist?</h3>
    </div>
    <div class="modal-body">
        <p class="confirmation_dialog_message"></p>
        <p>Pokračovat?</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Zrušit</a>
        <a href="#" class="btn btn-danger confirmation_dialog_acknowledge">Potvrdit</a>
    </div>
</div>

<div id="first_run_dialog" class="modal hide fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-header">
        <h3><i class="icon-warning-sign"></i> Konfigurace přístupu</h3>
    </div>
    <div class="modal-body">
        <p>
	    Je třeba nastavit přístup. Standardně OctoPrint nepovolí veřejný přístup. Proto je potřeba založit uživatelské jméno a heslo pro Administrátora, který získá plná práva.
        </p>
        <form class="form-horizontal">
            <div class="control-group" data-bind="css: {success: validUsername()}">
                <label class="control-label" for="first_run_username">Jméno</label>
                <div class="controls">
                    <input type="text" class="input-medium" data-bind="value: username, valueUpdate: 'afterkeydown'">
                </div>
            </div>
            <div class="control-group" data-bind="css: {success: validPassword()}">
                <label class="control-label" for="first_run_username">Heslo</label>
                <div class="controls">
                    <input type="password" class="input-medium" data-bind="value: password, valueUpdate: 'afterkeydown'">
                </div>
            </div>
            <div class="control-group" data-bind="css: {error: passwordMismatch(), success: validPassword() && !passwordMismatch()}">
                <label class="control-label" for="first_run_username">Heslo znovu</label>
                <div class="controls">
                    <input type="password" class="input-medium" data-bind="value: confirmedPassword, valueUpdate: 'afterkeydown'">
                    <span class="help-inline" data-bind="visible: passwordMismatch()">Hesla nesouhlasí</span>
                </div>
            </div>
        </form>
        <p>
            <strong>Poznámka:</strong> 
		Pouze v případě, že je OctoPrint dostupný pouze s důvěyhodné sítě a není potřeba řízení přístupů. Vypnout řízení přístupů si můžete dovolit pouze v případě, že jste si naprosto jist, že k OctoPrint mají přístup pouze důvěryhodní uživatelé.
        </p>
        <p>
            <strong>NEPODCEŇUJTE riziko nezabezpečeného přístupu k vaší tiskáně z Internetu!</strong>
        </p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-danger" data-bind="click: disableAccessControl">Vypnout řízení přístupu</a>
        <a href="#" class="btn btn-primary" data-bind="click: keepAccessControl, enable: validData(), css: {disabled: !validData()}">Potvrdit</a>
    </div>
</div>