<!DOCTYPE html>
<html>
    <head>
        <title data-bind="text: title">OctoPrint</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='img/tentacle-32x32.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='img/apple-touch-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='img/apple-touch-icon-144x144.png') }}">

        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ url_for('static', filename='css/bootstrap-modal.css') }}" rel="stylesheet" media="screen">
        <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ url_for('static', filename='css/jquery.fileupload-ui.css') }}" rel="stylesheet" media="screen">
        <link href="{{ url_for('static', filename='css/jquery.pnotify.default.css') }}" rel="stylesheet" media="screen">
        <link href="{{ url_for('static', filename='css/octoprint.less') }}" rel="stylesheet/less" type="text/css" media="screen">
        <link href="{{ url_for('static', filename='gcodeviewer/css/cupertino/jquery-ui-1.9.0.custom.css') }}" rel="stylesheet" media="screen">
        <link href="{{ url_for('static', filename='gcodeviewer/css/style.css') }}" rel="stylesheet" media="screen">

        <script lang="javascript">
            var AJAX_BASEURL = "{{ ajaxBaseUrl }}";

            var CONFIG_GCODEFILESPERPAGE = 5;
            var CONFIG_TIMELAPSEFILESPERPAGE = 10;
            var CONFIG_USERSPERPAGE = 10;
            var CONFIG_WEBCAM_STREAM = "{{ webcamStream }}";
            var CONFIG_ACCESS_CONTROL = {% if enableAccessControl -%} true; {% else %} false; {%- endif %}
            var CONFIG_SD_SUPPORT = {% if enableSdSupport -%} true; {% else %} false; {%- endif %}
            var CONFIG_FIRST_RUN = {%  if firstRun -%} true; {% else %} false; {%- endif %}
            var CONFIG_TEMPERATURE_GRAPH = {%  if enableTemperatureGraph -%} true; {% else %} false; {%- endif %}

            var SOCKJS_URI = window.location.protocol.slice(0, -1) + "://" + (window.document ? window.document.domain : window.location.hostname) + ":" + window.location.port + "/sockjs";
            var SOCKJS_DEBUG = {%  if debug -%} true; {% else %} false; {%- endif %}
        </script>
        <script src="{{ url_for('static', filename='js/lib/less-1.3.3.min.js') }}" type="text/javascript"></script>
    </head>
    <body>
        <div id="navbar" class="navbar navbar-fixed-top">
            <div class="navbar-inner" data-bind="css: appearance.color">
                <div class="container">
                    <a class="brand" href="#"> <span data-bind="text: appearance.brand">OctoPrint</span></a>
                    <div class="nav-collapse">
                        <ul class="nav pull-right">
                            <li style="display: none;" data-bind="visible: loginState.isAdmin">
                                <a id="navbar_show_settings" class="pull-right" href="#settings_dialog">
                                    <i class="icon-wrench"></i> Settings
                                </a>
                            </li>
                            {% if enableSystemMenu %}
                            <li class="dropdown" style="display: none" data-bind="visible: loginState.isAdmin">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-off"></i> System
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu" data-bind="foreach: systemActions">
                                    <li><a href="#" data-bind="click: $root.triggerAction, text: name"></a></li>
                                </ul>
                            </li>
                            {% endif %}
                            {% if enableAccessControl %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-user"></i> <span data-bind="text: loginState.userMenuText">Login</span>
                                    <b class="caret"></b>
                                </a>
                                <div id="login_dropdown_loggedout" style="padding: 15px" class="dropdown-menu" data-bind="css: {hide: loginState.loggedIn(), 'dropdown-menu': !loginState.loggedIn()}">
                                    <label for="login_user">Username</label>
                                    <input type="text" id="login_user" placeholder="Username">
                                    <label for="login_pass">Password</label>
                                    <input type="password" id="login_pass" placeholder="Password">
                                    <label class="checkbox">
                                        <input type="checkbox" id="login_remember"> Remember me
                                    </label>
                                    <button class="btn btn-block btn-primary" id="login_button" data-bind="click: loginState.login">Login</button>
                                </div>
                                <ul id="login_dropdown_loggedin" class="hide" data-bind="css: {hide: !loginState.loggedIn(), 'dropdown-menu': loginState.loggedIn()}">
                                    <li><a href="#" id="change_password_button" data-bind="click: function() { users.showChangePasswordDialog(loginState.currentUser()); }">Change Password</a></li>
                                    <li><a href="#" id="logout_button" data-bind="click: loginState.logout">Logout</a></li>
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container octoprint-container">
            <div class="row">
                <div class="accordion span4">
                    <div class="accordion-group" data-bind="visible: loginState.isUser" id="connection_accordion">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" href="#connection"><i class="icon-signal"></i> Connection</a>
                        </div>
                        <div class="accordion-body collapse in" id="connection">
                            <div class="accordion-inner">
                                <label for="connection_ports" data-bind="css: {disabled: !isErrorOrClosed()}, enable: isErrorOrClosed() && loginState.isUser()">Serial Port</label>
                                <select id="connection_ports" data-bind="options: portOptions, optionsCaption: 'AUTO', value: selectedPort, css: {disabled: !isErrorOrClosed()}, enable: isErrorOrClosed() && loginState.isUser()"></select>
                                <label for="connection_baudrates" data-bind="css: {disabled: !isErrorOrClosed()}, enable: isErrorOrClosed() && loginState.isUser()">Baudrate</label>
                                <select id="connection_baudrates" data-bind="options: baudrateOptions, optionsCaption: 'AUTO', value: selectedBaudrate, css: {disabled: !isErrorOrClosed()}, enable: isErrorOrClosed() && loginState.isUser()"></select>
                                <label class="checkbox">
                                    <input type="checkbox" id="connection_save" data-bind="checked: saveSettings, css: {disabled: !isErrorOrClosed()}, enable: isErrorOrClosed() && loginState.isUser()"> Save connection settings
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" id="connection_autoconnect" data-bind="checked: settings.serial_autoconnect, css: {disabled: !isErrorOrClosed()}, enable: isErrorOrClosed() && loginState.isUser()"> Auto-connect on server startup
                                </label>
                                <button class="btn btn-block" id="printer_connect" data-bind="click: connect, text: buttonText(), enable: loginState.isUser()">Connect</button>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group" id="state_accordion">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" href="#state"><i class="icon-info-sign"></i> State</a>
                        </div>
                        <div class="accordion-body collapse in" id="state">
                            <div class="accordion-inner">
                                Machine State: <strong data-bind="text: stateString"></strong><br>
                                File: <strong data-bind="text: filename"></strong>&nbsp;<strong data-bind="visible: sd">(SD)</strong><br>
                                Filament: <strong data-bind="text: filament"></strong><br>
                                Estimated Print Time: <strong data-bind="text: estimatedPrintTime"></strong><br>
                                Timelapse: <strong data-bind="text: timelapseString"></strong><br>
                                Height: <strong data-bind="text: heightString"></strong><br>
                                Print Time: <strong data-bind="text: printTime"></strong><br>
                                Print Time Left: <strong data-bind="text: printTimeLeft"></strong><br>
                                Printed: <strong data-bind="text: byteString"></strong><br>

                                <div class="progress">
                                    <div class="bar" id="job_progressBar" data-bind="style: { width: progressString() + '%' }"></div>
                                </div>

                                <div class="row-fluid print-control" style="display: none;" data-bind="visible: loginState.isUser">
                                    <button class="btn btn-primary span4" data-bind="click: print, enable: isOperational() && isReady() && !isPrinting() && loginState.isUser(), css: {'btn-danger': isPaused()}" id="job_print"><i class="icon-white" data-bind="css: {'icon-print': !isPaused(), 'icon-undo': isPaused()}"></i> <span data-bind="text: (isPaused() ? 'Restart' : 'Print')">Print</span></button>
                                    <button class="btn span4" id="job_pause" data-bind="click: pause, enable: isOperational() && (isPrinting() || isPaused()) && loginState.isUser(), css: {active: isPaused()}"><i class="icon-pause"></i> <span>Pause</span></button>
                                    <button class="btn span4" id="job_cancel" data-bind="click: cancel, enable: isOperational() && (isPrinting() || isPaused()) && loginState.isUser()"><i class="icon-stop"></i> Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group" id="files_accordion">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" href="#files"><i class="icon-list"></i> Files</a>

                            <div class="settings-trigger accordion-heading-button btn-group">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <span class="icon-wrench"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" data-bind="click: function() { $root.listHelper.changeSorting('name'); }"><i class="icon-ok" data-bind="style: {visibility: listHelper.currentSorting() == 'name' ? 'visible' : 'hidden'}"></i> Sort by name (ascending)</a></li>
                                    <li><a href="#" data-bind="click: function() { $root.listHelper.changeSorting('upload'); }"><i class="icon-ok" data-bind="style: {visibility: listHelper.currentSorting() == 'upload' ? 'visible' : 'hidden'}"></i> Sort by upload date (descending)</a></li>
                                    <li><a href="#" data-bind="click: function() { $root.listHelper.changeSorting('size'); }"><i class="icon-ok" data-bind="style: {visibility: listHelper.currentSorting() == 'size' ? 'visible' : 'hidden'}"></i> Sort by file size (descending)</a></li>
                                    {% if enableSdSupport %}
                                    <li class="divider"></li>
                                    <li><a href="#" data-bind="click: function() { $root.listHelper.toggleFilter('local'); }"><i class="icon-ok" data-bind="style: {visibility: _.contains(listHelper.currentFilters(), 'local') ? 'visible' : 'hidden'}"></i> Only show files stored locally</a></li>
                                    <li><a href="#" data-bind="click: function() { $root.listHelper.toggleFilter('sd'); }"><i class="icon-ok" data-bind="style: {visibility: _.contains(listHelper.currentFilters(), 'sd') ? 'visible' : 'hidden'}"></i> Only show files stored on SD</a></li>
                                    {% endif %}
                                    <li class="divider"></li>
                                    <li><a href="#" data-bind="click: function() { $root.listHelper.toggleFilter('printed'); }"><i class="icon-ok" data-bind="style: {visibility: _.contains(listHelper.currentFilters(), 'printed') ? 'visible' : 'hidden'}"></i> Hide successfully printed files</a></li>
                                </ul>
                            </div>

                            {% if enableSdSupport %}
                            <div class="sd-trigger accordion-heading-button btn-group">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <span class="icon-sd-black-14"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li data-bind="visible: !isSdReady()"><a href="#" data-bind="click: function() { $root.initSdCard(); }"><i class="icon-flag"></i> Initialize SD card</a></li>
                                    <li data-bind="visible: isSdReady()"><a href="#" data-bind="click: function() { $root.refreshSdFiles(); }"><i class="icon-refresh"></i> Refresh SD files</a></li>
                                    <li data-bind="visible: isSdReady()"><a href="#" data-bind="click: function() { $root.releaseSdCard(); }"><i class="icon-eject"></i> Release SD card</a></li>
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                        <div class="accordion-body collapse in overflow_visible" id="files">
                            <div class="accordion-inner">
                                <table class="table table-condensed table-hover" id="gcode_files">
                                    <thead>
                                        <tr>
                                            <th class="gcode_files_name">Name</th>
                                            <th class="gcode_files_size">Size</th>
                                            <th class="gcode_files_action">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: listHelper.paginatedItems">
                                        <tr data-bind="css: $root.getSuccessClass($data), style: { 'font-weight': $root.listHelper.isSelected($data) ? 'bold' : 'normal' }, popover: { title: name, animation: true, html: true, placement: 'right', trigger: 'hover', delay: 0, content: $root.getPopoverContent($data), html: true }">
                                            <td class="gcode_files_name" data-bind="text: name"></td>
                                            <td class="gcode_files_size" data-bind="text: size"></td>
                                            <td class="gcode_files_action">
                                                <a href="#" class="icon-trash" title="Remove" data-bind="click: function() { if ($root.enableRemove($data)) { $root.removeFile($data.name); } else { return; } }, css: {disabled: !$root.enableRemove($data)}"></a>&nbsp;|&nbsp;<a href="#" class="icon-folder-open" title="Load" data-bind="click: function() { if ($root.enableSelect($data)) { $root.loadFile($data.name, false); } else { return; } }, css: {disabled: !$root.enableSelect($data)}"></a>&nbsp;|&nbsp;<a href="#" class="icon-print" title="Load and Print" data-bind="click: function() { if ($root.enableSelect($data)) { $root.loadFile($data.name, true); } else { return; } }, css: {disabled: !$root.enableSelect($data)}"></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="muted text-right">
                                    <small>Free: <span data-bind="text: freeSpace"></span></small>
                                </div>
                                <div class="pagination pagination-mini pagination-centered">
                                    <ul>
                                        <li data-bind="css: {disabled: listHelper.currentPage() === 0}"><a href="#" data-bind="click: listHelper.prevPage">«</a></li>
                                    </ul>
                                    <ul data-bind="foreach: listHelper.pages">
                                        <li data-bind="css: { active: $data.number === $root.listHelper.currentPage(), disabled: $data.number === -1 }"><a href="#" data-bind="text: $data.text, click: function() { $root.listHelper.changePage($data.number); }"></a></li>
                                    </ul>
                                    <ul>
                                        <li data-bind="css: {disabled: listHelper.currentPage() === listHelper.lastPage()}"><a href="#" data-bind="click: listHelper.nextPage">»</a></li>
                                    </ul>
                                </div>
                                <div style="display: none;" data-bind="visible: loginState.isUser">
                                    <div class="row-fluid upload-buttons">
                                        {% if enableSdSupport %}
                                        <span class="btn btn-primary fileinput-button span6" data-bind="css: {disabled: !$root.loginState.isUser()}" style="margin-bottom: 10px">
                                            <i class="icon-upload-alt icon-white"></i>
                                            <span>Upload</span>
                                            <input id="gcode_upload" type="file" name="gcode_file" class="fileinput-button" data-url="/ajax/gcodefiles/upload" data-bind="enable: loginState.isUser()">
                                        </span>
                                        <span class="btn btn-primary fileinput-button span6" data-bind="css: {disabled: !$root.loginState.isUser() || !$root.isSdReady()}" style="margin-bottom: 10px">
                                            <i class="icon-upload-alt icon-white"></i>
                                            <span>Upload to SD</span>
                                            <input id="gcode_upload_sd" type="file" name="gcode_file" class="fileinput-button" data-url="/ajax/gcodefiles/upload" data-bind="enable: loginState.isUser() && isSdReady()">
                                        </span>
                                        {% else %}
                                        <span class="btn btn-primary fileinput-button span12" data-bind="css: {disabled: !$root.loginState.isUser()}" style="margin-bottom: 10px">
                                            <i class="icon-upload-alt icon-white"></i>
                                            <span>Upload</span>
                                            <input id="gcode_upload" type="file" name="gcode_file" class="fileinput-button" data-url="/ajax/gcodefiles/upload" data-bind="enable: loginState.isUser()">
                                        </span>
                                        {% endif %}
                                    </div>
                                    <div id="gcode_upload_progress" class="progress" style="width: 100%;">
                                        <div class="bar" style="width: 0%"></div>
                                    </div>
                                    <div>
                                        <small>Hint: You can also drag and drop files on this page to upload them.</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span8 tabbable">
                    <ul class="nav nav-tabs" id="tabs">
                        <li class="active"><a href="#temp" data-toggle="tab">Temperature</a></li>
                        <li><a href="#control" data-toggle="tab">Control</a></li>
                        {% if enableGCodeVisualizer %}<li><a href="#gcode" data-toggle="tab">GCode Viewer</a></li>{% endif %}
                        <li><a href="#term" data-toggle="tab">Terminal</a></li>
                        {% if enableTimelapse %}<li><a href="#timelapse" data-toggle="tab">Timelapse</a></li>{% endif %}
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="temp">
                            {% if enableTemperatureGraph %}
                            <div class="row" style="padding-left: 20px">
                                <div id="temperature-graph"></div>
                            </div>
                            {% endif %}
                            <div class="row-fluid" style="margin-bottom: 20px">
                                <div class="form-horizontal span6">
                                    <h1>Temperature</h1>

                                    <label title="Current extruder temperature">Current: <strong data-bind="html: tempString"></strong></label>

                                    <label title="Target extruder temperature">Target: <strong data-bind="html: targetTempString"></strong></label>

                                    <div style="display: none;" data-bind="visible: loginState.isUser">
                                        <label for="temp_newTemp" title="Sets the new target temperature for the extruder">New Target</label>
                                        <div class="input-append">
                                            <input type="text" class="input-mini text-right" data-bind="value: newTemp, valueUpdate: 'afterkeydown', attr: {placeholder: targetTemp}, enable: isOperational() && loginState.isUser(), event: { keyup: function(d, e) {$root.handleEnter(e, 'temp');} }" class="tempInput">
                                            <span class="add-on">&deg;C</span>
                                        </div>
                                        <div class="btn-group">
                                            <button type="submit" class="btn" data-bind="click: setTemp, enable: isOperational() && loginState.isUser() && newTemp()">Set</button>
                                            <button class="btn dropdown-toggle" data-toggle="dropdown" data-bind="enable: isOperational() && loginState.isUser()">
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <!-- ko foreach: temperature_profiles -->
                                                <li>
                                                    <a href="#" data-bind="click: $parent.setTempFromProfile, text: 'Set ' + name + ' (' + extruder + '&deg;C)'"></a>
                                                </li>
                                                <!-- /ko -->
                                                <li class="divider"></li>
                                                <li>
                                                    <a href="#" data-bind="click: function() { $root.setTempToZero(); }">Off</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div style="display: none;" data-bind="visible: loginState.isUser">
                                        <label title="Sets a temperature offset to apply to temperatures set via streamed GCODE, may be positive or negative, will not persist across restarts of OctoPrint">Offset</label>
                                        <div class="input-append">
                                            <input type="number" min="-50" max="50" class="input-mini text-right" data-bind="value: newTempOffset, valueUpdate: 'afterkeydown', attr: {placeholder: tempOffset}, enable: isOperational() && loginState.isUser(), event: { keyup: function(d, e) {$root.handleEnter(e, 'tempOffset');} }" class="tempInput">
                                            <span class="add-on">&deg;C</span>
                                        </div>
                                        <button type="submit" class="btn" data-bind="click: setTempOffset, enable: newTempOffset() && isOperational() && loginState.isUser()">Set</button>
                                    </div>
                                </div>
                                <div class="form-horizontal span6">
                                    <h1>Bed Temperature</h1>

                                    <label title="Current bed temperature">Current: <strong data-bind="html: bedTempString"></strong></label>

                                    <label title="Target bed temperature">Target: <strong data-bind="html: bedTargetTempString"></strong></label>

                                    <div style="display: none;" data-bind="visible: loginState.isUser">
                                        <label for="temp_newBedTemp" title="Sets the new target temperature for the bed">New Target</label>
                                        <div class="input-append">
                                            <input type="text" class="input-mini text-right" data-bind="value: newBedTemp, valueUpdate: 'afterkeydown', attr: {placeholder: bedTargetTemp}, enable: isOperational() && loginState.isUser(), event: { keyup: function(d, e) {$root.handleEnter(event, 'bedTemp');} }" class="tempInput">
                                            <span class="add-on">&deg;C</span>
                                        </div>
                                        <div class="btn-group">
                                            <button type="submit" class="btn" data-bind="click: setBedTemp, enable: isOperational() && loginState.isUser() && newBedTemp()">Set</button>
                                            <button class="btn dropdown-toggle" data-toggle="dropdown" data-bind="enable: isOperational() && loginState.isUser()">
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                 <!-- ko foreach: temperature_profiles -->
                                                 <li>
                                                     <a href="#" data-bind="click: $parent.setBedTempFromProfile, text: 'Set ' + name + ' (' + bed + '&deg;C)'"></a>
                                                 </li>
                                                 <!-- /ko -->
                                                 <li class="divider"></li>
                                                 <li>
                                                     <a href="#" data-bind="click: function(){ $root.setBedTempToZero(); }">Off</a>
                                                 </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div style="display: none;" data-bind="visible: loginState.isUser">
                                        <label title="Sets a temperature offset to apply to bed temperatures set via streamed GCODE, may be positive or negative, will not persist across restarts of OctoPrint">Offset</label>
                                        <div class="input-append">
                                            <input type="number" min="-50" max="50" class="input-mini text-right" data-bind="value: newBedTempOffset, valueUpdate: 'afterkeydown', attr: {placeholder: bedTempOffset}, enable: isOperational() && loginState.isUser(), event: { keyup: function(d, e) {$root.handleEnter(e, 'bedTempOffset');} }" class="tempInput">
                                            <span class="add-on">&deg;C</span>
                                        </div>
                                        <button type="submit" class="btn" data-bind="click: setBedTempOffset, enable: newBedTempOffset() && isOperational() && loginState.isUser()">Set</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="control">
                            {% if webcamStream %}
                            <div id="webcam_container">
                                <img id="webcam_image" src="{{ webcamStream }}" data-bind="css: { flipH: settings.webcam_flipH(), flipV: settings.webcam_flipV() }">
                            </div>
                            {% endif %}

                            <div class="jog-panel" style="display: none;" data-bind="visible: loginState.isUser">
                                <!-- XY jogging control panel -->
                                <div class="jog-panel">
                                    <h1>X/Y</h1>
                                    <div>
                                        <button class="btn box" data-bind="enable: isOperational() && !isPrinting() && loginState.isUser(), click: function() { $root.sendJogCommand('y',1) }"><i class="icon-arrow-up"></i></button>
                                    </div>
                                    <div>
                                        <button class="btn box pull-left" data-bind="enable: isOperational() && !isPrinting() && loginState.isUser(), click: function() { $root.sendJogCommand('x',-1) }"><i class="icon-arrow-left"></i></button>
                                        <button class="btn box pull-left" data-bind="enable: isOperational() && !isPrinting() && loginState.isUser(), click: function() { $root.sendHomeCommand('XY') }"><i class="icon-home"></i></button>
                                        <button class="btn box pull-left" data-bind="enable: isOperational() && !isPrinting() && loginState.isUser(), click: function() { $root.sendJogCommand('x',1) }"><i class="icon-arrow-right"></i></button>
                                    </div>
                                    <div>
                                        <button class="btn box" data-bind="enable: isOperational() && !isPrinting() && loginState.isUser(), click: function() { $root.sendJogCommand('y',-1) }"><i class="icon-arrow-down"></i></button>
                                    </div>
                                </div>
                                <!-- Z jogging control panel -->
                                <div class="jog-panel">
                                    <h1>Z</h1>
                                    <div>
                                        <button class="btn box" data-bind="enable: isOperational() && !isPrinting() && loginState.isUser(), click: function() { $root.sendJogCommand('z',1) }"><i class="icon-arrow-up"></i></button>
                                    </div>
                                    <div>
                                        <button class="btn box" data-bind="enable: isOperational() && !isPrinting() && loginState.isUser(), click: function() { $root.sendHomeCommand('Z') }"><i class="icon-home"></i></button>
                                    </div>
                                    <div>
                                        <button class="btn box" data-bind="enable: isOperational() && !isPrinting() && loginState.isUser(), click: function() { $root.sendJogCommand('z',-1) }"><i class="icon-arrow-down"></i></button>
                                    </div>
                                </div>
                                <!-- Jog distance -->
                                <div class="distance">
                                    <div class="btn-group" data-toggle="buttons-radio" id="jog_distance">
                                        <button type="button" class="btn" data-distance="0.1" data-bind="enable: loginState.isUser()">0.1</button>
                                        <button type="button" class="btn" data-distance="1" data-bind="enable: loginState.isUser()">1</button>
                                        <button type="button" class="btn active" data-distance="10" data-bind="enable: loginState.isUser()">10</button>
                                        <button type="button" class="btn" data-distance="100" data-bind="enable: loginState.isUser()">100</button>
                                    </div>
                                </div>
                            </div>
                            <!-- Extrusion control panel -->
                            <div class="jog-panel" style="display: none;" data-bind="visible: loginState.isUser">
                                <h1>E</h1>
                                <div>
                                    <div class="input-append control-box">
                                        <input type="text" class="input-mini text-right" data-bind="value: extrusionAmount, enable: isOperational() && !isPrinting() && loginState.isUser(), attr: {placeholder: 5}">
                                        <span class="add-on">mm</span>
                                    </div>
                                    <button class="btn control-box" data-bind="enable: isOperational() && !isPrinting() && loginState.isUser(), click: function() { $root.sendExtrudeCommand() }">Extrude</button>
                                    <button class="btn control-box" data-bind="enable: isOperational() && !isPrinting() && loginState.isUser(), click: function() { $root.sendRetractCommand() }">Retract</button>
                                </div>
                            </div>
                            <!-- General control panel -->
                            <div class="jog-panel" style="display: none;" data-bind="visible: loginState.isUser">
                                <h1>General</h1>
                                <div>
                                    <button class="btn control-box" data-bind="enable: isOperational() && !isPrinting() && loginState.isUser(), click: function() { $root.sendCustomCommand({type:'command',command:'M18'}) }"><i class="icon-off"></i>&nbsp;Motors off</button>
                                    <button class="btn control-box" data-bind="enable: isOperational() && loginState.isUser(), click: function() { $root.sendCustomCommand({type:'command',command:'M106'}) }">Fans on</button>
                                    <button class="btn control-box" data-bind="enable: isOperational() && loginState.isUser(), click: function() { $root.sendCustomCommand({type:'command',command:'M106 S0'}) }">Fans off</button>
                                </div>
                            </div>

                            <!-- Container for custom controls -->
                            <div style="clear: both; display: none;" data-bind="visible: loginState.isUser, template: { name: $root.displayMode, foreach: controls }"></div>

                            <!-- Templates for custom controls -->
                            <script type="text/html" id="customControls_sectionTemplate">
                                <h1 data-bind="text: name"></h1>

                                <div data-bind="template: { name: $root.displayMode, foreach: children }"></div>
                            </script>
                            <script type="text/html" id="customControls_commandTemplate">
                                <form class="form-inline">
                                    <button class="btn" data-bind="text: name, enable: $root.isOperational() && $root.loginState.isUser(), click: function() { $root.sendCustomCommand($data) }"></button>
                                </form>
                            </script>
                            <script type="text/html" id="customControls_feedbackCommandTemplate">
                                <form class="form-inline">
                                    <button class="btn" data-bind="text: name, enable: $root.isOperational() && $root.loginState.isUser(), click: function() { $root.sendCustomCommand($data) }"></button> <span data-bind="text: output"></span>
                                </form>
                            </script>
                            <script type="text/html" id="customControls_feedbackTemplate">
                                <div>
                                    <strong data-bind="text: name"></strong>: <span data-bind="text: output"></span>
                                </div>
                            </script>
                            <script type="text/html" id="customControls_parametricCommandTemplate">
                                <form class="form-inline">
                                    <!-- ko foreach: input -->
                                        <label data-bind="text: name"></label>
                                        <input type="text" class="input-small" data-bind="attr: {placeholder: name}, value: value">
                                    <!-- /ko -->
                                    <button class="btn" data-bind="text: name, enable: $root.isOperational() && $root.loginState.isUser(), click: function() { $root.sendCustomCommand($data) }"></button>
                                </form>
                            </script>
                            <script type="text/html" id="customControls_emptyTemplate"><div></div></script>
                            <!-- End of templates for custom controls -->
                        </div>
                        {% if enableGCodeVisualizer %}
                        <div class="tab-pane" id="gcode">
                            <canvas id="canvas" width="572" height="588"></canvas>
                            <div id="slider-vertical"></div>
                            <div id="slider-horizontal"></div>

                            <div id="gcode_accordion" class="accordion" style="margin-top: 20px">
                                <div class="accordion-group">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" href="#progressAccordionTab">
                                            Progress indicators
                                        </a>
                                    </div>
                                    <div id="progressAccordionTab" class="accordion-body collapse in">
                                        <div class="accordion-inner">
                                            <div id="progressBlock">
                                                <div class="progress" >
                                                    <div id="loadProgress" class="bar" style="width: 0%;"></div>
                                                </div>
                                                <div class="progress" >
                                                    <div id="analyzeProgress" class="bar" style="width: 0%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-group">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" href="#infoAccordionTab">
                                            Model info
                                        </a>
                                    </div>
                                    <div id="infoAccordionTab" class="accordion-body collapse in">
                                        <div class="accordion-inner">
                                            <p id="list"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-group">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" href="#layerAccordionTab">
                                            Layer Info
                                        </a>
                                    </div>
                                    <div id="layerAccordionTab" class="accordion-body collapse in">
                                        <div class="accordion-inner">
                                            <p id="layerInfo"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-group">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" href="#options2DAccordionTab">
                                            2D Render options
                                        </a>
                                    </div>
                                    <div id="options2DAccordionTab" class="accordion-body collapse in">
                                        <div class="accordion-inner">
                                            <input type="checkbox" id="showMovesCheckbox" value="1"  onclick="GCODE.ui.processOptions()" checked>Show non-extrusion moves</input><br>
                                            <input type="checkbox" id="showRetractsCheckbox" value="2"  onclick="GCODE.ui.processOptions()" checked>Show retracts and restarts</input><br>
                                            <input type="checkbox" id="moveModelCheckbox" value="3"  onclick="GCODE.ui.processOptions()" checked>Move model to the center of the grid</input><br>
                                            <input type="checkbox" id="differentiateColorsCheckbox" value="7"  onclick="GCODE.ui.processOptions()" checked>Show different speeds with different colors</input><br>
                                            <input type="checkbox" id="thickExtrusionCheckbox" value="8"  onclick="GCODE.ui.processOptions()">Emulate extrusion width</input><br>
                                            Width modifier: <input type="text" value="2" id="widthModifier" onchange="GCODE.ui.processOptions()"/><br>
                                            <input type="checkbox" id="showNextLayer" value="9"  onclick="GCODE.ui.processOptions()" >Show +1 layer</input><br>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-group">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" href="#analyzeOptionsAccordioinTab">
                                            GCode analyzer options
                                        </a>
                                    </div>
                                    <div id="analyzeOptionsAccordioinTab" class="accordion-body collapse in">
                                        <div class="accordion-inner">
                                            These require re-analyzing file:<br>
                                            <input type="checkbox" id="sortLayersCheckbox" value="4" onclick="GCODE.ui.processOptions()" checked>Sort layers by Z</input><br>
                                            <input type="checkbox" id="purgeEmptyLayersCheckbox" value="5"  onclick="GCODE.ui.processOptions()" checked>Hide empty layers</input><br>
                                            <input type="checkbox" id="showGCodeCheckbox" value="6" onclick="GCODE.ui.processOptions()" checked>Show GCode in GCode tab (memory intensive!)</input><br>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        {% endif %}
                        <div class="tab-pane" id="term">
                            <pre id="terminal-output" class="pre-scrollable"></pre>
                            <label class="checkbox">
                                <input type="checkbox" id="terminal-autoscroll" data-bind="checked: autoscrollEnabled"> Autoscroll
                            </label>
                            <div data-bind="foreach: filters">
                                <label class="checkbox">
                                    <input type="checkbox" data-bind="attr: { value: regex }, checked: $parent.activeFilters"> <span data-bind="text: name"></span>
                                </label>
                            </div>

                            <div class="input-append" style="display: none;" data-bind="visible: loginState.isUser">
                                <input type="text" id="terminal-command" data-bind="value: command, event: { keyup: function(d,e) { handleEnter(e); } }, enable: isOperational() && loginState.isUser()">
                                <button class="btn" type="button" id="terminal-send" data-bind="click: sendCommand, enable: isOperational() && loginState.isUser()">Send</button>
                            </div>
                        </div>
                        {% if enableTimelapse %}
                        <div class="tab-pane" id="timelapse">
                            <div style="display: none;" data-bind="visible: loginState.isUser">
                                <h1>Timelapse Configuration</h1>

                                <label for="webcam_timelapse_mode">Timelapse Mode</label>
                                <select id="webcam_timelapse_mode" data-bind="value: timelapseType, enable: isOperational() && !isPrinting() && loginState.isUser()">
                                    <option value="off">Off</option>
                                    <option value="zchange">On Z Change</option>
                                    <option value="timed">Timed</option>
                                </select>

                                <div id="webcam_timelapse_timedsettings" data-bind="visible: intervalInputEnabled()">
                                    <label for="webcam_timelapse_interval">Interval</label>
                                    <div class="input-append">
                                        <input type="text" class="input-mini" id="webcam_timelapse_interval" data-bind="value: timelapseTimedInterval, valueUpdate: 'afterkeydown', enable: isOperational() && !isPrinting() && loginState.isUser()">
                                        <span class="add-on">sec</span>
                                    </div>
                                </div>

                                <div data-bind="visible: loginState.isAdmin">
                                    <label class="checkbox">
                                        <input type="checkbox" data-bind="checked: persist"> Save as default
                                    </label>
                                </div>

                                <div>
                                    <button class="btn" data-bind="click: save, enable: saveButtonEnabled">Save config</button>
                                </div>
                            </div>

                            <h1>Finished Timelapses</h1>

                            <div class="pull-right">
                                <small>Sort by: <a href="#" data-bind="click: function() { listHelper.changeSorting('name'); }">Name (ascending)</a> | <a href="#" data-bind="click: function() { listHelper.changeSorting('creation'); }">Creation date (descending)</a> | <a href="#" data-bind="click: function() { listHelper.changeSorting('size'); }">Size (descending)</a></small>
                            </div>
                            <table class="table table-striped table-hover table-condensed table-hover" id="timelapse_files">
                                <thead>
                                    <tr>
                                        <th class="timelapse_files_name">Name</th>
                                        <th class="timelapse_files_size">Size</th>
                                        <th class="timelapse_files_action">Action</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: listHelper.paginatedItems">
                                    <tr data-bind="attr: {title: name}">
                                        <td class="timelapse_files_name" data-bind="text: name"></td>
                                        <td class="timelapse_files_size" data-bind="text: size"></td>
                                        <td class="timelapse_files_action"><a href="#" class="icon-trash" data-bind="click: function() { if ($root.loginState.isUser()) { $parent.removeFile($data.name); } else { return; } }, css: {disabled: !$root.loginState.isUser()}"></a>&nbsp;|&nbsp;<a href="#" class="icon-download" data-bind="attr: {href: url}"></a></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="pagination pagination-mini pagination-centered">
                                <ul>
                                    <li data-bind="css: {disabled: listHelper.currentPage() === 0}"><a href="#" data-bind="click: listHelper.prevPage">«</a></li>
                                </ul>
                                <ul data-bind="foreach: listHelper.pages">
                                    <li data-bind="css: { active: $data.number === $root.listHelper.currentPage(), disabled: $data.number === -1 }"><a href="#" data-bind="text: $data.text, click: function() { $root.listHelper.changePage($data.number); }"></a></li>
                                </ul>
                                <ul>
                                    <li data-bind="css: {disabled: listHelper.currentPage() === listHelper.lastPage()}"><a href="#" data-bind="click: listHelper.nextPage">»</a></li>
                                </ul>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="footer">
                {% if gitBranch and gitCommit %}
                    <ul class="pull-left muted">
                        <li><small>Branch: {{ gitBranch }}, Commit: {{ gitCommit }}</small></li>
                    </ul>
                {% endif %}
                <ul class="pull-right">
                    <li><a href="http://octoprint.org"><i class="icon-home"></i> Homepage</a></li>
                    <li><a href="https://github.com/foosel/OctoPrint/"><i class="icon-download"></i> Sourcecode</a></li>
                    <li><a href="https://github.com/foosel/OctoPrint/wiki"><i class="icon-book"></i> Documentation</a></li>
                    <li><a href="https://github.com/foosel/OctoPrint/issues"><i class="icon-flag"></i> Bugs and Requests</a></li>
                </ul>
            </div>
        </div>

        {% include 'settings.jinja2' %}
        {% include 'dialogs.jinja2' %}

        <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/lib/modernizr.custom.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/lib/underscore.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/lib/knockout.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/lib/avltree.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/lib/bootstrap/bootstrap.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/lib/bootstrap/bootstrap-modalmanager.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/lib/bootstrap/bootstrap-modal.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery/jquery.ui.core.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery/jquery.ui.widget.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery/jquery.ui.mouse.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery/jquery.ui.slider.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery/jquery.pnotify.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery/jquery.flot.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery/jquery.iframe-transport.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery/jquery.fileupload.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/lib/sockjs-0.3.4.min.js') }}"></script>

        <!-- Include OctoPrint files -->
        <!-- TODO: merge/minimize in the future -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/app/viewmodels/appearance.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/app/viewmodels/connection.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/app/viewmodels/control.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/app/viewmodels/firstrun.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/app/viewmodels/gcode.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/app/viewmodels/gcodefiles.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/app/viewmodels/loginstate.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/app/viewmodels/navigation.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/app/viewmodels/printerstate.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/app/viewmodels/settings.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/app/viewmodels/temperature.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/app/viewmodels/terminal.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/app/viewmodels/timelapse.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/app/viewmodels/users.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='js/app/dataupdater.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/app/helpers.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='js/app/main.js') }}"></script>
        <!-- /Include OctoPrint files -->

        <script type="text/javascript" src="{{ url_for('static', filename='gcodeviewer/js/ui.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='gcodeviewer/js/gCodeReader.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='gcodeviewer/js/renderer.js') }}"></script>

    </body>
</html>
