<div id="settings_dialog" class="modal hide fade container" tabindex="-1" role="dialog" aria-labelledby="settings_dialog_label" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 id="settings_dialog_label">Nastavení OctoPrint</h3>
    </div>
    <div class="modal-body">
        <div class="tabbable">
            <ul class="nav nav-list span4" id="settingsTabs">
                <li class="nav-header">Tiskárna</li>
                <li class="active"><a href="#settings_serialConnection" data-toggle="tab">Připojení</a></li>
                <li><a href="#settings_printerParameters" data-toggle="tab">Parametry tiskárny</a></li>
                <li><a href="#settings_temperature" data-toggle="tab">Teploty</a></li>
                <li><a href="#settings_terminalFilters" data-toggle="tab">Filtry pro terminál</a></li>
                <li class="nav-header">Možnosti</li>
                <li><a href="#settings_features" data-toggle="tab">Možnosti</a></li>
                <li><a href="#settings_webcam" data-toggle="tab">Kamera</a></li>
                <li><a href="#settings_cura" data-toggle="tab">Cura</a></li>
                {% if enableAccessControl %}<li><a href="#settings_users" data-toggle="tab">Přístupy</a></li>{% endif %}
                <li><a href="#settings_api" data-toggle="tab">Api</a></li>
                <li class="nav-header">OctoPrint</li>
                <li><a href="#settings_folder" data-toggle="tab">Složky</a></li>
                <li><a href="#settings_appearance" data-toggle="tab">Vzhled</a></li>
            </ul>

            <div class="tab-content span8">
                <div class="tab-pane active" id="settings_serialConnection">
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="settings-serialPort">Port</label>
                            <div class="controls">
                                <select id="settings-serialPort" data-bind="options: serial_portOptions, optionsCaption: 'AUTO', value: serial_port"></select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="settings-baudrate">Rychlost</label>
                            <div class="controls">
                                <select id="settings-baudrate" data-bind="options: serial_baudrateOptions, optionsCaption: 'AUTO', value: serial_baudrate"></select>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    <input type="checkbox" data-bind="checked: serial_autoconnect" id="settings-serialAutoconnect"> Automaticky připojit tiskárnu při startu
                                </label>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="settings-movementSpeedE">Timeout pro komunikaci</label>
                            <div class="controls">
                                <div class="input-append">
                                    <input type="number" step="any" min="0" class="input-mini text-right" data-bind="value: serial_timeoutCommunication" id="settings-serialTimeoutCommunication">
                                    <span class="add-on">s</span>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="settings-movementSpeedE">Timeout pro spojení</label>
                            <div class="controls">
                                <div class="input-append">
                                    <input type="number" step="any" min="0" class="input-mini text-right" data-bind="value: serial_timeoutConnection" id="settings-serialTimeoutConnection">
                                    <span class="add-on">s</span>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="settings-movementSpeedE">Timeout pro autodetekci</label>
                            <div class="controls">
                                <div class="input-append">
                                    <input type="number" step="any" min="0" class="input-mini text-right" data-bind="value: serial_timeoutDetection" id="settings-serialTimeoutDetection">
                                    <span class="add-on">s</span>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    <input type="checkbox" data-bind="checked: serial_log" id="settings-serialLog"> Zaznamenávat sériovou komunikaci do serial.log (může mít negativní vliv na výkon) <span class="label label-important">Varování</span>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="settings_printerParameters">
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="settings-movementSpeedX">Rychlost osy X</label>
                            <div class="controls">
                                <div class="input-append">
                                    <input type="number" class="input-mini text-right" data-bind="value: printer_movementSpeedX" id="settings-movementSpeedX">
                                    <span class="add-on">mm/min</span>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="settings-movementSpeedY">Rychlost osy Y</label>
                            <div class="controls">
                                <div class="input-append">
                                    <input type="number" class="input-mini text-right" data-bind="value: printer_movementSpeedY" id="settings-movementSpeedY">
                                    <span class="add-on">mm/min</span>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="settings-movementSpeedZ">Rychlost osy Z Axis</label>
                            <div class="controls">
                                <div class="input-append">
                                    <input type="number" class="input-mini text-right" data-bind="value: printer_movementSpeedZ" id="settings-movementSpeedZ">
                                    <span class="add-on">mm/min</span>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="settings-movementSpeedE">Rychlost extrudéru</label>
                            <div class="controls">
                                <div class="input-append">
                                    <input type="number" class="input-mini text-right" data-bind="value: printer_movementSpeedE" id="settings-movementSpeedE">
                                    <span class="add-on">mm/min</span>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                Otočit osy
                                <label class="checkbox">
                                    <input type="checkbox" data-bind="checked: printer_invertX" id="settings-printerInvertX"> osa X 
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" data-bind="checked: printer_invertY" id="settings-printerInvertY"> osa Y
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" data-bind="checked: printer_invertZ" id="settings-printerInvertZ"> osa Z
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="settings_webcam">
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="settings-webcamStreamUrl">Adresa streamu</label>
                            <div class="controls">
                                <input type="text" class="input-block-level" data-bind="value: webcam_streamUrl" id="settings-webcamStreamUrl">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="settings-webcamStreamUrl">Adresa pro snímky</label>
                            <div class="controls">
                                <input type="text" class="input-block-level" data-bind="value: webcam_snapshotUrl" id="settings-webcamSnapshotUrl">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="settings-webcamStreamUrl">Cesta k FFMPEGu</label>
                            <div class="controls">
                                <input type="text" class="input-block-level" data-bind="value: webcam_ffmpegPath" id="settings-webcamFfmpegPath">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="settings-webcamBitrate">Bitrate časosběrného videa</label>
                            <div class="controls">
                                <input type="text" class="input-block-level" data-bind="value: webcam_bitrate" id="settings-webcamBitrate">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    <input type="checkbox" data-bind="checked: webcam_watermark" id="settings-webcamWatermark"> Vložit do videa logo OctoPrint
                                </label>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    <input type="checkbox" data-bind="checked: webcam_flipH" id="settings-webcamFlipH"> Otočit obraz horizontálně
                                </label>
                            </div>
                            <div class="controls">
                                <label class="checkbox">
                                    <input type="checkbox" data-bind="checked: webcam_flipV" id="settings-webcamFlipV"> Otočit obraz vertikálně
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="settings_features">
                    <form class="form-horizontal">
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    <input type="checkbox" data-bind="checked: feature_temperatureGraph" id="settings-featureTemperatureGraph"> Povolit graf teplot
                                </label>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    <input type="checkbox" data-bind="checked: feature_gcodeViewer" id="settings-featureGcodeViewer"> Povolit zobrazení G-kódu
                                </label>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    <input type="checkbox" data-bind="checked: feature_sdSupport" id="settings-featureSdSupport"> povolit podporu SD karty
                                </label>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    <input type="checkbox" data-bind="checked: feature_waitForStart" id="settings-featureWaitForStart"> Čekat na <code>start</code> při připojení
                                </label>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    <input type="checkbox" data-bind="checked: feature_alwaysSendChecksum" id="settings-featureAlwaysSendChecksum"> Odesílat kontrolní součet s <strong>každým</strong> příkazem  <span class="label">Repetier</span>
                                </label>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    <input type="checkbox" data-bind="checked: feature_swallowOkAfterResend" id="settings-swallowOkAfterResend"> Ignorovat prní "ok" po příkazu znovuodeslání řádku
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="settings_folder">
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="settings-folderUploads">Upload Folder</label>
                            <div class="controls">
                                <input type="text" class="input-block-level" data-bind="value: folder_uploads" id="settings-folderUploads">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="settings-folderTimelapse">Timelapse Folder</label>
                            <div class="controls">
                                <input type="text" class="input-block-level" data-bind="value: folder_timelapse" id="settings-folderTimelapse">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="settings-folderTimelapseTemp">Timelapse Temp Folder</label>
                            <div class="controls">
                                <input type="text" class="input-block-level" data-bind="value: folder_timelapseTmp" id="settings-folderTimelapseTemp">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="settings-folderLogs">Logs Folder</label>
                            <div class="controls">
                                <input type="text" class="input-block-level" data-bind="value: folder_logs" id="settings-folderLogs">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="settings_temperature">
                    <form class="form-horizontal">
                        <div class="row-fluid">
                            <div class="offset3 span3"><h4>Extruder</h4></div>
                            <div class="span3"><h4>Podložka</h4></div>
                        </div>
                        <div data-bind="foreach: temperature_profiles">
                            <div class="row-fluid" style="margin-bottom: 5px">
                                <div class="span3">
                                    <input type="text" class="span12 text-right" data-bind="value: name">
                                </div>
                                <div class="input-append span3">
                                    <input type="number" class="input-mini text-right" data-bind="value: extruder">
                                    <span class="add-on">&deg;C</span>
                                </div>
                                <div class="input-append span3">
                                    <input type="number" class="input-mini text-right" data-bind="value: bed">
                                    <span class="add-on">&deg;C</span>
                                </div>
                                <div class="span2">
                                    <button title="Odstranit profil" class="btn btn-danger" data-bind="click: $parent.removeTemperatureProfile"><i class="icon-trash"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="offset9 span2">
                                <button title="Přidat profil" class="btn btn-primary" data-bind="click: addTemperatureProfile"><i class="icon-plus"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="settings_terminalFilters">
                    <form class="form-horizontal">
                        <div class="row-fluid">
                            <div class="span4"><h4>Jméno</h4></div>
                            <div class="span6"><h4>RegExp <small><a href="https://developer.mozilla.org/en/docs/Web/JavaScript/Guide/Regular_Expressions">?</a></small></h4></div>
                        </div>
                        <div data-bind="foreach: terminalFilters">
                            <div class="row-fluid" style="margin-bottom: 5px">
                                <div class="span4">
                                    <input type="text" class="span12" data-bind="value: name">
                                </div>
                                <div class="span6">
                                    <input type="text" class="span12" data-bind="value: regex">
                                </div>
                                <div class="span2">
                                    <button title="Odstranit filtr" class="btn btn-danger" data-bind="click: $parent.removeTerminalFilter"><i class="icon-trash"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="offset10 span2">
                                <button title="Přidat filtr" class="btn btn-primary" data-bind="click: addTerminalFilter"><i class="icon-plus"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="settings_appearance">
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="settings-appearanceName">Title</label>
                            <div class="controls">
                                <input type="text" class="input-block-level" data-bind="value: appearance_name" id="settings-appearanceName">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="settings-appearanceColor">Color</label>
                            <div class="controls">
                                <select id="settings-appearanceColor" data-bind="value: appearance_color, options: appearance_available_colors">
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="settings_cura">
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="settings-curaEnabled">Povolit zpracování Curou</label>
                            <div class="controls">
                                <input type="checkbox" data-bind="checked: cura_enabled">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="settings-curaPath">Cesta k Cura</label>
                            <div class="controls">
                                <input type="text" class="input-block-level" data-bind="value: cura_path">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="settings-curaConfig">Cesta k profilu Cura</label>
                            <div class="controls">
                                <input type="text" class="input-block-level" data-bind="value: cura_config">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="settings_api">
                    <form class="form-horizontal">
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    <input type="checkbox" id="settings-apiEnabled" data-bind="checked: api_enabled"> Povolit
                                </label>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="settings-apiKey">Apikey</label>
                            <div class="controls">
                                <input type="text" class="input-block-level" data-bind="value: api_key" id="settings-apikey">
                            </div>
                        </div>
                    </form>
                </div>

                {% if enableAccessControl %}
                <div class="tab-pane" id="settings_users">
                    <table class="table table-condensed table-hover" id="system_users">
                        <thead>
                            <tr>
                                <th class="settings_users_name">Name</th>
                                <th class="settings_users_active">Active</th>
                                <th class="settings_users_admin">Admin</th>
                                <th class="settings_users_actions">Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: users.listHelper.paginatedItems">
                            <tr>
                                <td class="settings_users_name" data-bind="text: name"></td>
                                <td class="settings_users_active"><i data-bind="css: { 'icon-check': active, 'icon-check-empty': !active }"></i></td>
                                <td class="settings_users_admin"><i data-bind="css: { 'icon-check': admin, 'icon-check-empty': !admin }"></i></td>
                                <td class="settings_users_actions" class="system_users_action">
                                    <a href="#" class="icon-pencil" title="Update User" data-bind="click: function() { $root.users.showEditUserDialog($data); }"></a>&nbsp;|&nbsp;<a href="#" class="icon-key" title="Change password" data-bind="click: function() { $root.users.showChangePasswordDialog($data); }"></a>&nbsp;|&nbsp;<a href="#" class="icon-trash" title="Delete user" data-bind="click: function() { $root.users.removeUser($data); }"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="pagination pagination-mini pagination-centered">
                        <ul>
                            <li data-bind="css: {disabled: users.listHelper.currentPage() === 0}"><a href="#" data-bind="click: users.listHelper.prevPage">«</a></li>
                        </ul>
                        <ul data-bind="foreach: users.listHelper.pages">
                            <li data-bind="css: { active: $data.number === $root.users.listHelper.currentPage(), disabled: $data.number === -1 }"><a href="#" data-bind="text: $data.text, click: function() { $root.users.listHelper.changePage($data.number); }"></a></li>
                        </ul>
                        <ul>
                            <li data-bind="css: {disabled: users.listHelper.currentPage() === users.listHelper.lastPage()}"><a href="#" data-bind="click: users.listHelper.nextPage">»</a></li>
                        </ul>
                    </div>

                    <button title="Přidat uživatele" class="btn" data-bind="click: $root.users.showAddUserDialog"><i class="icon-plus"></i> Nový uživatel</button>

                    <!-- Modals for user management -->

                    <div id="settings-usersDialogAddUser" class="modal hide fade">
                        <div class="modal-header">
                            <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
                            <h3>Nový uživatel</h3>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal">
                                <div class="control-group">
                                    <label class="control-label" for="settings-usersDialogAddUserName">Uživatel</label>
                                    <div class="controls">
                                        <input type="text" class="input-block-level" id="settings-usersDialogAddUserName" data-bind="value: $root.users.editorUsername" required>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="settings-usersDialogAddUserPassword1">Heslo</label>
                                    <div class="controls">
                                        <input type="password" class="input-block-level" id="settings-usersDialogAddUserPassword1" data-bind="value: $root.users.editorPassword" required>
                                    </div>
                                </div>
                                <div class="control-group" data-bind="css: {error: $root.users.editorPasswordMismatch()}">
                                    <label class="control-label" for="settings-usersDialogAddUserPassword2">Heslo znovu</label>
                                    <div class="controls">
                                        <input type="password" class="input-block-level" id="settings-usersDialogAddUserPassword2" data-bind="value: $root.users.editorRepeatedPassword, valueUpdate: 'afterkeydown'" required>
                                        <span class="help-inline" data-bind="visible: $root.users.editorPasswordMismatch()">Hesla nesouhlasí</span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="checkbox">
                                            <input type="checkbox" id="settings-usersDialogAddUserActive" data-bind="checked: $root.users.editorActive"> Aktivní
                                        </label>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="checkbox">
                                            <input type="checkbox" id="settings-usersDialogAddUserAdmin" data-bind="checked: $root.users.editorAdmin"> Admin
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Abort</button>
                            <button class="btn btn-primary" data-bind="click: function() { $root.users.confirmAddUser(); }, enable: !$root.users.editorPasswordMismatch()">Povolit</button>
                        </div>
                    </div>

                    <div id="settings-usersDialogEditUser" class="modal hide fade">
                        <div class="modal-header">
                            <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
                            <h3>Editovat uživatele "<span data-bind="text: $root.users.editorUsername"></span>"</h3>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal">
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="checkbox">
                                            <input type="checkbox" id="settings-usersDialogEditUserActive" data-bind="checked: $root.users.editorActive"> Aktivní
                                        </label>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="checkbox">
                                            <input type="checkbox" id="settings-usersDialogEditUserAdmin" data-bind="checked: $root.users.editorAdmin"> Admin
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Abort</button>
                            <button class="btn btn-primary" data-bind="click: function() { $root.users.confirmEditUser(); }">Potvrdit</button>
                        </div>
                    </div>

                    <div id="settings-usersDialogChangePassword" class="modal hide fade">
                        <div class="modal-header">
                            <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
                            <h3>Změnit heslo uživateli "<span data-bind="text: $root.users.editorUsername"></span>"</h3>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal">
                                <div class="control-group">
                                    <label class="control-label" for="settings-usersDialogChangePasswordPassword1">Nové heslo</label>
                                    <div class="controls">
                                        <input type="password" class="input-block-level" id="settings-usersDialogChangePasswordPassword1" data-bind="value: $root.users.editorPassword" required>
                                    </div>
                                </div>
                                <div class="control-group" data-bind="css: {error: $root.users.editorPasswordMismatch()}">
                                    <label class="control-label" for="settings-usersDialogChangePasswordPassword2">Heslo znovu</label>
                                    <div class="controls">
                                        <input type="password" class="input-block-level" id="settings-usersDialogChangePasswordPassword2" data-bind="value: $root.users.editorRepeatedPassword, valueUpdate: 'afterkeydown'" required>
                                        <span class="help-inline" data-bind="visible: $root.users.editorPasswordMismatch()">Hesla nesouhlasí</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Abort</button>
                            <button class="btn btn-primary" data-bind="click: function() { $root.users.confirmChangePassword(); }, enable: !$root.users.editorPasswordMismatch()">Potvrdit</button>
                        </div>
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Zrušit</button>
        <button class="btn btn-primary" data-bind="click: saveData">Uložit</button>
    </div>
</div>
