<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('static', filename='css/bootstrap-modal.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('static', filename='css/bootstrap-slider.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('static', filename='css/bootstrap-tabdrop.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('static', filename='css/jquery.fileupload-ui.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('static', filename='css/pnotify.min.css') }}" rel="stylesheet" media="screen">

{% set lessneeded=[] %}
{% for type, url in assets["stylesheets"] %}
    {% if type == "css" %}
        <link href="{{ url }}" rel="stylesheet" type="text/css" media="screen">
    {% elif type == "less" %}
        {% do lessneeded.append(1) %}
        <link href="{{ url }}" rel="stylesheet/less" type="text/css" media="screen">
    {% endif %}
{% endfor %}
{% if lessneeded %}
    <script src="{{ url_for('static', filename='js/lib/less.min.js') }}" type="text/javascript"></script>
{% endif %}
