{% assets "all_css" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" media="screen">
{% endassets %}

{% assets "less_app" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet/less" type="text/css" media="screen">
{% endassets %}

<script src="{{ url_for('static', filename='js/lib/less.min.js') }}" type="text/javascript"></script>
