<form class="form-horizontal" onsubmit="return false;">
    <fieldset>
        <h3>{{ _('CORS') }}</h3>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" id="settings-apiCors" data-bind="checked: api_allowCrossOrigin"> {{ _('Allow <a href="%(url)s">Cross Origin Resource Sharing (CORS)</a>', url = "https://en.wikipedia.org/wiki/Cross-origin_resource_sharing") }} <label class="label label-info">{{ _('Needs restart') }}</label>
                </label>
            </div>
        </div>
    </fieldset>
</form>
