<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="settings-appearanceName">{{ _('Title') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: appearance_name" id="settings-appearanceName">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="settings-appearanceColor">{{ _('Color') }}</label>
        <div class="controls">
            <select id="settings-appearanceColor" data-bind="value: appearance_color, options: appearance_available_colors, optionsText: 'name', optionsValue: 'key'">
            </select>
        </div>
    </div>
</form>
