<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="settings-serialPort">{{ _('Serial Port') }}</label>
        <div class="controls">
            <select id="settings-serialPort" data-bind="options: serial_portOptions, optionsCaption: 'AUTO', value: serial_port"></select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="settings-baudrate">{{ _('Baudrate') }}</label>
        <div class="controls">
            <select id="settings-baudrate" data-bind="options: serial_baudrateOptions, optionsCaption: 'AUTO', value: serial_baudrate"></select>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: serial_autoconnect" id="settings-serialAutoconnect"> {{ _('Auto-connect to printer on server start') }}
            </label>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="settings-serialTimeoutCommunication">{{ _('Communication timeout') }}</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" step="any" min="0" class="input-mini text-right" data-bind="value: serial_timeoutCommunication" id="settings-serialTimeoutCommunication">
                <span class="add-on">s</span>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="settings-movementSpeedE">{{ _('Temperature timeout') }}</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" step="any" min="0" class="input-mini text-right" data-bind="value: serial_timeoutTemperature" id="settings-serialTimeoutTemperature">
                <span class="add-on">s</span>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="settings-serialTimeoutSdStatus">{{ _('SD status timeout') }}</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" step="any" min="0" class="input-mini text-right" data-bind="value: serial_timeoutSdStatus" id="settings-serialTimeoutSdStatus">
                <span class="add-on">s</span>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="settings-serialTimeoutConnection">{{ _('Connection timeout') }}</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" step="any" min="0" class="input-mini text-right" data-bind="value: serial_timeoutConnection" id="settings-serialTimeoutConnection">
                <span class="add-on">s</span>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="settings-serialTimeoutDetection">{{ _('Autodetection timeout') }}</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" step="any" min="0" class="input-mini text-right" data-bind="value: serial_timeoutDetection" id="settings-serialTimeoutDetection">
                <span class="add-on">s</span>
            </div>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: serial_log" id="settings-serialLog"> {{ _('Log communication to serial.log (might negatively impact performance)') }} <span class="label label-important">{{ _('Warning') }}</span>
            </label>
        </div>
    </div>
</form>
