<form class="form-horizontal">
    <h3>{{ _('Commands') }}</h3>

    {% include "snippets/settings/server/serverCommandServerRestart.jinja2" %}
    {% include "snippets/settings/server/serverCommandSystemRestart.jinja2" %}
    {% include "snippets/settings/server/serverCommandSystemShutdown.jinja2" %}

    <h3>{{ _('Connectivity check') }}</h3>

    <p>{{ _('You normally should not have to change any of the following settings.') }}</p>

    <div class="control-group" title="{{ _('Interval in which to check for internet connectivity') }}">
        <label class="control-label" for="settings-serverOnlineCheckInterval">{{ _('Check interval') }}</label>
        <div class="controls">
            <span class="input-append">
                <input type="number" min="1" step="1" class="input-mini" data-bind="value: server_onlineCheck_interval" id="settings-serverOnlineCheckInterval">
                <span class="add-on">min</span>
            </span>
        </div>
    </div>

    <div class="control-group" title="{{ _('DNS against which to check for internet connectivity') }}">
        <label class="control-label" for="settings-serverOnlineCheckHost">{{ _('DNS host') }}</label>
        <div class="controls">
            <input type="text" class="input-small text-right" data-bind="value: server_onlineCheck_host" id="settings-serverOnlineCheckHost">
        </div>
    </div>

    <div class="control-group" title="{{ _('Port against which to check for internet connectivity. Default is 53.') }}">
        <label class="control-label" for="settings-serverOnlineCheckHost">{{ _('DNS port') }}</label>
        <div class="controls">
            <input type="number" min="1" max="65535" step="1" class="input-mini" data-bind="value: server_onlineCheck_port" id="settings-serverOnlineCheckPort">
        </div>
    </div>
</form>
