<form class="form-horizontal">
    <div class="row">
        <div class="col-md-4"><h4>{{ _('Name') }}</h4></div>
        <div class="col-md-6"><h4>{{ _('RegExp') }} <small><a href="https://developer.mozilla.org/en/docs/Web/JavaScript/Guide/Regular_Expressions">?</a></small></h4></div>
    </div>
    <div data-bind="foreach: terminalFilters">
        <div class="row" style="margin-bottom: 5px">
            <div class="col-md-4">
                <input type="text" class="col-md-12" data-bind="value: name">
            </div>
            <div class="col-md-6">
                <input type="text" class="col-md-12" data-bind="value: regex">
            </div>
            <div class="col-md-2">
                <a title="Remove Filter" class="btn btn-danger" data-bind="click: $parent.removeTerminalFilter"><i class="icon-trash"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-10 col-md-2">
            <a title="Add Filter" class="btn btn-primary" data-bind="click: addTerminalFilter"><i class="icon-plus"></i></a>
        </div>
    </div>
</form>
