<div class="input-append">
    <input type="text" class="input-xxlarge" data-bind="value: newUrl">
    <button class="btn btn-primary" data-bind="click: goToUrl">Go</button>
</div>


<iframe data-bind="attr: {src: currentUrl}"></iframe>
