<h3>{{ _('Action Command Notification Settings') }}</h3>

<form class="form-horizontal" onsubmit="return false;">
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.action_command_notification.enable"> {{ _('Enable') }}
            </label>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.action_command_notification.enable_popups"> {{ _('Enable popups') }}
                <span class="help-block">{{ _("Check this if you want notifications to also show up as popups in addition to the notification list in the sidebar") }}</span>
            </label>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="settings-serialAdditionalPorts">{{ _('Notification Filters') }}</label>
        <div class="controls">
            <textarea rows="4" class="block" id="settings-serialAdditionalPorts" data-bind="value: settings.plugins.action_command_notification.filters"></textarea>
            <span class="help-inline">
            {{ _("Use this to define filters to hide unwanted notifications. One regular expression per line. Notifications that match a regular expression will not be shown. For more information about using regular expressions see the python documentation ") }}
            <a href="https://docs.python.org/3/library/re.html">{{ _('here.') }}</a>
            </span>
        </div>
    </div>
</form>
