<div class="control-group">
    <div class="controls">
        <label class="checkbox">
            <input type="checkbox" data-bind="checked: config_githubTokenClearCheck"> {{ _('Remove Github Access Token') }} <label class="label label-important">{{ _('Warning') }}</label>
            <span class="help-block">{% trans %}
                If you check this, your Github Access Token will be removed
            {% endtrans %}</span>
        </label>
    </div>
</div>
