<h3>{{ _('OctoPrint') }}</h3>

<h4>{{ _('The snappy web interface for your 3D printer') }}</h4>

<p>Version <span class="version">{{ display_version }}</span></p>

<ul>
    <li>Website: <a href="http://octoprint.org" target="_blank">octoprint.org</a></li>
    <li>Source Code: <a href="https://github.com/foosel/OctoPrint" target="_blank">github.com/foosel/OctoPrint</a></li>
    <li>Documentation: <a href="http://docs.octoprint.org" target="_blank">docs.octoprint.org</a></li>
</ul>

<p>
    OctoPrint is sponsored and maintained by <a href="http://www.bq.com">BQ</a>.
</p>

<p>
    &copy; 2012-{{ now.strftime("%Y") }} The OctoPrint Authors
</p>

<p>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.
</p>

<p>
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.
</p>

<p>
    For a copy of the GNU Affero General Public License, see "OctoPrint License"
    to the left.
</p>

<p>
    OctoPrint also utilizes various dependencies under terms of their
    respective licenses, which can be found under "Third Party Licenses" to
    the left. Copyright of those dependencies lies with their respective authors
</p>
