<form class="form-horizontal">
    <div class="control-group" data-bind="css: {error: pathBroken, success: pathOk}">
        <label class="control-label" for="settings-cura-path">{{ _('Path to CuraEngine') }}</label>
        <div class="controls">
            <div class="input-append">
                <input type="text" class="input-block-level" data-bind="value: settings.plugins.cura.cura_engine">
                <button class="btn" type="button" data-bind="click: testEnginePath">{{ _('Test') }}</button>
            </div>
            <span class="help-block" data-bind="visible: pathBroken() || pathOk, text: pathText"></span>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.cura.debug_logging"> {{ _('Log the output of CuraEngine to plugin_cura_engine.log') }}
            </label>
        </div>
    </div>
</form>
