<div class="control-group" title="{{ _('Videocodec uses for encoding') }}">
    <label class="control-label" for="settings-webcam_ffmpegVideoCodec">{{ _('Videocodec') }}</label>
    <div class="controls">
        <select data-bind="options: webcam_available_videocodecs, value: webcam_ffmpegVideoCodec"></select>
    </div>
</div>
