<div class="control-group">
    <div class="controls">
        <label class="checkbox">
            <input type="checkbox" data-bind="checked: webcam_webcamEnabled" id="settings-webcamWebcamEnabled"> {{ _('Enable webcam support') }}
        </label>
    </div>
</div>
