<div class="control-group">
    <div class="controls">
        <label class="checkbox">
            <input type="checkbox" data-bind="checked: webcam_snapshotSslValidation" id="settings-webcamSnapshotSslValidation"> {{ _('Validate SSL on snapshot URL (if applicable)') }}
        </label>
    </div>
</div>
