<form>
    <label data-bind="css: {disabled: !isErrorOrClosed()}, enable: isErrorOrClosed()">{{ _('Connection Profile') }}</label>
    <select class="input-block-level" data-bind="options: availableConnectionProfiles, optionsText: 'name', value: selectedConnectionProfile, optionsCaption: 'New...', css: {disabled: !isErrorOrClosed()}, enable: isErrorOrClosed()"></select>
    <label class="checkbox">
        <input type="checkbox" data-bind="checked: adjustConnectionParameters"> {{ _('Adjust connection parameters') }}
    </label>
    <div style="display: none" data-bind="visible: adjustConnectionParameters">
        <hr style="margin: 0">

        <label data-bind="css: {disabled: !isErrorOrClosed()}, enable: isErrorOrClosed()">{{ _('Printer Profile') }}</label>
        <select class="input-block-level" data-bind="options: availablePrinterProfiles, optionsText: 'name', value: selectedPrinter, css: {disabled: !isErrorOrClosed()}, enable: isErrorOrClosed()"></select>

        <hr style="margin: 0">

        <label data-bind="css: {disabled: !isErrorOrClosed()}, enable: isErrorOrClosed()">{{ _('Protocol') }}</label>
        <select class="input-block-level" data-bind="options: availableProtocols, optionsText: 'name', value: selectedProtocol, css: {disabled: !isErrorOrClosed()}, enable: isErrorOrClosed()"></select>
        <!-- ko foreach: protocolParameters -->
        <!-- ko if: !advanced -->
        <!-- ko template: { name: 'connection_template_' + $data.type, data: $data } --><!-- /ko -->
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: advancedProtocolParameters -->
        <small class="text-block text-right"><a href="javascript:void(0)" data-bind="click: showAdvancedProtocolOptions">{{ _('Advanced...') }}</a></small>
        <!-- /ko -->

        <hr style="margin: 0">

        <label data-bind="css: {disabled: !isErrorOrClosed()}, enable: isErrorOrClosed()">{{ _('Transport') }}</label>
        <select class="input-block-level" data-bind="options: availableTransports, optionsText: 'name', value: selectedTransport, css: {disabled: !isErrorOrClosed()}, enable: isErrorOrClosed()"></select>
        <!-- ko foreach: transportParameters -->
        <!-- ko if: !advanced -->
        <!-- ko template: { name: 'connection_template_' + $data.type, data: $data } --><!-- /ko -->
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: advancedTransportParameters -->
        <small class="text-block text-right"><a href="javascript:void(0)" data-bind="click: showAdvancedTransportOptions">{{ _('Advanced...') }}</a></small>
        <!-- /ko -->

        <hr style="margin: 0">
    </div>
    <label class="checkbox">
        <input type="checkbox" id="connection_autoconnect" data-bind="checked: settings.serial_autoconnect, css: {disabled: !isErrorOrClosed()}, enable: isErrorOrClosed()"> {{ _('Auto-connect on server startup') }}
    </label>
</form>

<button class="btn btn-block" id="printer_connect_and_save" data-bind="click: function() { connect(true) }, visible: isErrorOrClosed() && adjustConnectionParameters()">{{ _('Save & Connect') }}</button>
<button class="btn btn-primary btn-block" id="printer_connect" data-bind="click: function() { connect() }, text: buttonText">{{ _('Connect') }}</button>

<script type="text/html" id="connection_template_text">
    <label data-bind="text: $data.title, css: {disabled: !$root.isErrorOrClosed()}, enable: $root.isErrorOrClosed()"></label>
    <input class="input-block-level" type="text" data-bind="value: $data.value, attr: {placeholder: $data.default}, css: {disabled: !$root.isErrorOrClosed()}, enable: $root.isErrorOrClosed()">
</script>
<script type="text/html" id="connection_template_integer">
    <label data-bind="text: $data.title, css: {disabled: !$root.isErrorOrClosed()}, enable: $root.isErrorOrClosed()"></label>
    <input class="input-block-level" type="number" step="1" data-bind="value: $data.value, attr: {placeholder: $data.default, min: $data.min, max: $data.max}, css: {disabled: !$root.isErrorOrClosed()}, enable: $root.isErrorOrClosed()">
</script>
<script type="text/html" id="connection_template_float">
    <label data-bind="text: $data.title, css: {disabled: !$root.isErrorOrClosed()}, enable: $root.isErrorOrClosed()"></label>
    <input class="input-block-level" type="number" data-bind="value: $data.value, attr: {placeholder: $data.default, min: $data.min, max: $data.max}, css: {disabled: !$root.isErrorOrClosed()}, enable: $root.isErrorOrClosed()">
</script>
<script type="text/html" id="connection_template_choice">
    <label data-bind="text: $data.title, css: {disabled: !$root.isErrorOrClosed()}, enable: $root.isErrorOrClosed()"></label>
    <select class="input-block-level" data-bind="options: $data.choices, optionsText: 'title', optionsValue: 'value', value: $data.value, css: {disabled: !$root.isErrorOrClosed()}, enable: $root.isErrorOrClosed()"></select>
</script>
<script type="text/html" id="connection_template_smallchoice">
    <label data-bind="text: $data.title, css: {disabled: !$root.isErrorOrClosed()}, enable: $root.isErrorOrClosed()"></label>
    <!-- ko foreach: choices -->
    <label class="radio">
        <input type="radio" data-bind="attr: { name: 'connection_dialog_' + $parent.name + '_group' }, value: $data.value, checked: $parent.value"> <span data-bind="text: $data.title"></span>
    </label>
    <!-- /ko -->
</script>
<script type="text/html" id="connection_template_boolean">
    <label class="checkbox">
        <input type="checkbox" data-bind="checked: $data.value, css: {disabled: !$root.isErrorOrClosed()}, enable: $root.isErrorOrClosed()"> <span data-bind="text: $data.title"></span>
    </label>
</script>
<script type="text/html" id="connection_template_suggestion">
    <label data-bind="text: $data.title, css: {disabled: !$root.isErrorOrClosed()}, enable: $root.isErrorOrClosed()"></label>
    <select class="input-block-level" data-bind="options: $data.suggestions, optionsText: 'title', optionsValue: 'value', value: $data.value, css: {disabled: !$root.isErrorOrClosed()}, enable: $root.isErrorOrClosed()"></select>
</script>
<script type="text/html" id="connection_template_list">
    <label data-bind="text: $data.title, css: {disabled: !$root.isErrorOrClosed()}, enable: $root.isErrorOrClosed()"></label>
    <textarea data-bind="value: $data.value, css: {disabled: !$root.isErrorOrClosed()}, enable: $root.isErrorOrClosed()"></textarea>
</script>
<script type="text/html" id="connection_template_group">
    <label data-bind="text: $data.title"></label>
    <!-- ko foreach: params -->
    <!-- ko template: { name: 'connection_template_' + $data.type, data: $data } --><!-- /ko -->
    <!-- /ko -->
</script>
