<div class="refresh-trigger accordion-heading-button btn-group" data-bind="visible: $root.refreshVisible">
    <a href="javascript:void(0)" data-bind="click: function() { $root.requestOptionsData(); }" title="{{ _('Refresh connection options')|edq }}">
        <i class="fas fa-sync"></i>
    </a>
</div>
