<h3>{{ _('Restore from a backup?') }}</h3>

{% trans %}<p>
    If you would like to restore OctoPrint configuration from a backup now is the time.
</p>{% endtrans %}

<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Backup file') }}</label>
        <div class="controls">
            <div class="input-prepend">
                <span class="btn fileinput-button">
                    <span>{{ _('Browse...') }}</span>
                    <input id="wizard-backup-upload" type="file" name="file" data-url="{{ url_for("plugin.backup.perform_restore") }}" accept=".zip">
                </span>
                <span class="add-on" data-bind="text: backupUploadName"></span>
            </div>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button class="btn btn-primary" data-bind="enable: !backupInProgress() && !restoreInProgress(), click: performRestoreFromUpload"><i class="fa fa-spinner fa-spin" data-bind="visible: restoreInProgress"></i> {{ _('Upload & restore') }}</button>
        </div>
    </div>
</form>
