<h3>{{ _('Internet Remote Access') }}</h3>

<div class="alert">{% trans %}
    <strong>Never Expose OctoPrint To The Internet Directly From Your Home Network!</strong>
{% endtrans %}</div>

<p>{% trans %}<strong>For private and secure remote access to OctoPrint,</strong> consider using one of the many OctoPrint plugins or apps. Exposing OctoPrint to the internet directly from your home network via port forwarding is unsafe and insecure.{% endtrans %}</p>

<a href="https://plugins.octoprint.org/topics/remote_access/" target="_blank" class="btn btn-primary span6 wizard_plugin_corewizard_remoteaccess_see_more_button">
    Checkout OctoPrint Remote Access Plugins Now
</a>
