<h3>{{ _('Restore from a backup') }}</h3>

{% trans %}<p>
    If you would like to restore OctoPrint configuration from a backup now is the time.
</p>{% endtrans %}

<div class="row-fluid">
    <a href="#" class="btn btn-primary span6" data-bind="click: function() { showRestoreFromBackup() }">{{ _('Restore From Backup') }}</a>
</div>