<script type="text/html" id="parameter_template_form_description">
    <!-- ko with: data -->
    <p data-bind="markdownInline: $data.value"></p>
    <!-- /ko -->
</script>
<script type="text/html" id="parameter_template_form_text">
    <!-- ko with: data -->
    <label data-bind="text: $data.title, css: {disabled: !$parent.enabled()}, enable: $parent.enabled"></label>
    <input class="input-block-level" type="text" data-bind="value: $data.value, attr: {placeholder: $data.default}, css: {disabled: !$parent.enabled()}, enable: $parent.enabled">
    <small class="help-block" data-bind="visible: $data.help, markdownInline: $data.help"></small>
    <!-- /ko -->
</script>
<script type="text/html" id="parameter_template_form_url">
    <!-- ko with: data -->
    <label data-bind="text: $data.title, css: {disabled: !$parent.enabled()}, enable: $parent.enabled"></label>
    <input class="input-block-level" type="text" data-bind="value: $data.value, attr: {placeholder: $data.default}, css: {disabled: !$parent.enabled()}, enable: $parent.enabled">
    <small class="help-block" data-bind="visible: $data.help, markdownInline: $data.help"></small>
    <!-- /ko -->
</script>
<script type="text/html" id="parameter_template_form_integer">
    <!-- ko with: data -->
    <label data-bind="text: $data.title, css: {disabled: !$parent.enabled()}, enable: $parent.enabled"></label>
    <input class="input-block-level" type="number" step="1" data-bind="value: $data.value, attr: {placeholder: $data.default, min: $data.min, max: $data.max}, css: {disabled: !$parent.enabled()}, enable: $parent.enabled">
    <small class="help-block" data-bind="visible: $data.help, markdownInline: $data.help"></small>
    <!-- /ko -->
</script>
<script type="text/html" id="parameter_template_form_float">
    <!-- ko with: data -->
    <label data-bind="text: $data.title, css: {disabled: !$parent.enabled()}, enable: $parent.enabled"></label>
    <input class="input-block-level" type="number" data-bind="value: $data.value, attr: {placeholder: $data.default, min: $data.min, max: $data.max}, css: {disabled: !$parent.enabled()}, enable: $parent.enabled">
    <small class="help-block" data-bind="visible: $data.help, markdownInline: $data.help"></small>
    <!-- /ko -->
</script>
<script type="text/html" id="parameter_template_form_choice">
    <!-- ko with: data -->
    <label data-bind="text: $data.title, css: {disabled: !$parent.enabled() }, enable: $parent.enabled"></label>
    <select class="input-block-level" data-bind="options: $data.choices, optionsText: 'title', optionsValue: 'value', value: $data.value, optionsCaption: $data.caption, css: {disabled: !$parent.enabled() }, enable: $parent.enabled"></select>
    <small class="help-block" data-bind="visible: $data.help, markdownInline: $data.help"></small>
    <!-- /ko -->
</script>
<script type="text/html" id="parameter_template_form_smallchoice">
    <!-- ko with: data -->
    <label data-bind="text: $data.title, css: {disabled: !$parent.enabled()}, enable: $parent.enabled"></label>
    <!-- ko foreach: choices -->
    <label class="radio">
        <input type="radio" data-bind="attr: { name: 'connection_dialog_' + $parent.name + '_group' }, value: $data.value, checked: $parent.value"> <span data-bind="text: $data.title"></span>
        <small class="help-block" data-bind="visible: $data.help, markdownInline: $data.help"></small>
    </label>
    <!-- /ko -->
    <small class="help-block" data-bind="visible: $data.help, markdownInline: $data.help"></small>
    <!-- /ko -->
</script>
<script type="text/html" id="parameter_template_form_boolean">
    <!-- ko with: data -->
    <label class="checkbox">
        <input type="checkbox" data-bind="checked: $data.value, css: {disabled: !$parent.enabled()}, enable: $parent.enabled"> <span data-bind="text: $data.title"></span>
        <span class="help-block" data-bind="visible: $data.help, markdownInline: $data.help"></span>
    </label>
    <small class="help-block" data-bind="visible: $data.help, markdownInline: $data.help"></small>
    <!-- /ko -->
</script>
<script type="text/html" id="parameter_template_form_suggestion">
    <!-- ko with: data -->
    <label data-bind="text: $data.title, css: {disabled: !$parent.enabled()}, enable: $parent.enabled"></label>
    <div class="input-append">
        <input type="text" data-bind="value: $data.value, css: {disabled: !$parent.enabled()}, enable: $parent.enabled">
        <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
            <ul class="dropdown-menu pull-right" data-bind="foreach: $data.suggestions">
                <li data-bind="attr: { 'data-value': $data.value }"><a href="javascript:void(0)" data-bind="text: $data.title, click: function() { $parent.value($data.value) }"></a></li>
            </ul>
        </div>
    </div>
    <small class="help-block" data-bind="visible: $data.help, markdownInline: $data.help"></small>
    <!-- /ko -->
</script>
<script type="text/html" id="parameter_template_form_list">
    <!-- ko with: data -->
    <label data-bind="text: $data.title, css: {disabled: !$parent.enabled()}, enable: $parent.enabled"></label>
    <textarea data-bind="value: $data.value, css: {disabled: !$parent.enabled()}, enable: $parent.enabled"></textarea>
    <small class="help-block" data-bind="visible: $data.help, markdownInline: $data.help"></small>
    <!-- /ko -->
</script>
<script type="text/html" id="parameter_template_form_smalllist">
    <!-- ko with: data -->
    <label data-bind="text: $data.title, css: {disabled: !$parent.enabled()}, enable: $parent.enabled"></label>
    <input type="text" class="input-block-level" data-bind="value: $data.value, css: {disabled: !$parent.enabled()}, enable: $parent.enabled">
    <small class="help-block" data-bind="visible: $data.help, markdownInline: $data.help"></small>
    <!-- /ko -->
</script>
<script type="text/html" id="parameter_template_form_group">
    <!-- ko with: data -->
    <label data-bind="text: $data.title"></label>
    <!-- ko foreach: params -->
    <!-- ko template: { name: 'parameter_template_form_' + $data.type, data: { data: $data, enabled: ko.pureComputed(function() { return $parents[1].enabled() && $data.enabled() }) } } --><!-- /ko -->
    <!-- /ko -->
    <!-- /ko -->
</script>
<script type="text/html" id="parameter_template_form_presetchoice">
    <!-- ko with: data -->
    <label data-bind="text: $data.title, css: { disabled: !$parent.enabled() }, enable: $parent.enabled"></label>
    <select class="input-block-level" data-bind="options: $data.choices, optionsText: 'title', optionsValue: 'value', value: $data.value, css: { disabled: !$parent.enabled() }, enable: $parent.enabled"></select>
    <!-- ko if: !$data.group.advanced -->
    <label data-bind="text: $data.group.title"></label>
    <!-- ko foreach: $data.group.params -->
    <!-- ko if: !advanced -->
    <!-- ko template: { name: 'parameter_template_form_' + $data.type, data: { data: $data, enabled: ko.pureComputed(function() { return $parents[1].enabled() && $data.enabled() }) } } --><!-- /ko -->
    <!-- /ko -->
    <!-- /ko -->
    <!-- /ko -->
    <!-- /ko -->
</script>
<script type="text/html" id="parameter_template_form_conditionalgroup">
    <!-- ko with: data -->
    <label data-bind="text: $data.title, css: { disabled: !$parent.enabled() }, enable: $parent.enabled"></label>
    <select class="input-block-level" data-bind="options: $data.choices, optionsText: 'title', optionsValue: 'value', value: $data.value, css: { disabled: !$parent.enabled() }, enable: $parent.enabled"></select>

    <!-- ko foreach: $data.groups[$data.value()] -->
    <!-- ko if: !advanced -->
    <!-- ko template: { name: 'parameter_template_form_' + $data.type, data: { data: $data, enabled: ko.pureComputed(function() { return $parents[1].enabled() && $data.enabled() }) } } --><!-- /ko -->
    <!-- /ko -->
    <!-- /ko -->
    <!-- /ko -->
</script>
