<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />

    <title>{% if page.title %}{{ site.title }} - {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="{{ site.author.name }}">

    <!--[if lt IE 9]>
    <script src="{{ BASE_PATH }}/assets/js/html5shim.js"></script>
    <![endif]-->

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link rel="stylesheet" href="{{ BASE_PATH }}/assets/css/site.css">
    <link rel="stylesheet" href="{{ BASE_PATH }}/assets/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="{{ BASE_PATH }}/assets/css/prettify.css">
    <link rel="stylesheet" href="{{ BASE_PATH }}/assets/css/lightbox.css">
    <link rel="stylesheet" href="{{ BASE_PATH }}/assets/css/font-awesome-4.6.1.min.css">

    <link rel="stylesheet" type="text/css" href="{{ BASE_PATH }}/assets/vendor/slick-1.5.9/slick.css"/>
    <link rel="stylesheet" type="text/css" href="{{ BASE_PATH }}/assets/vendor/slick-1.5.9/slick-theme.css"/>


    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ BASE_PATH }}/assets/img/tentacle-32x32.png">
    <link rel="apple-touch-icon" href="{{ BASE_PATH }}/assets/img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ BASE_PATH }}/assets/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ BASE_PATH }}/assets/img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ BASE_PATH }}/assets/img/apple-touch-icon-144x144.png">

    <!-- Le RSS feed -->
    <link rel="alternate" type="application/rss+xml" title="OctoPrint.org: OctoBlog" href="{{ '/feeds/all.xml' | prepend: site.baseurl }}">

    <!-- Le social media meta data -->
    {% capture thetitle %}{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}{% endcapture %}
    {% capture thedescription %}{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}{% endif %}{% endcapture %}
    {% capture theimage %}{{ site.external }}{{ BASE_PATH }}{% if page.card %}{{ page.card }}{% else %}/assets/img/octoprint-avatar-240x240.png{% endif %}{% endcapture %}

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ site.twitter }}" />
    <meta name="twitter:title" content="{{ thetitle }}" />
    <meta name="twitter:description" content="{{ thedescription }}" />
    <meta name="twitter:image" content="{{ theimage }}" />
    <meta name="twitter:image:alt" content="The OctoPrint logo" />

    <meta property="og:title" content="{{ thetitle }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ theimage }}" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="240" />
    <meta property="og:image:height" content="240" />
    <meta property="og:description" content="{{ thedescription }}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:url" content="{{ page.url | prepend: BASE_PATH | prepend: site.external }}" />
</head>

<body>

<div id="top"></div>

{% include navigation.html %}

<div id="wrap">
    <div id="main">
    {{ content }}
    </div>
</div>

{% include footer.html %}

<a href="#top" class="to-top" title="Back to top" data-scroll><i class="fa fa-arrow-up fa-2x"></i></a>

<script src="{{ BASE_PATH }}/assets/js/jquery-1.9.1.min.js"></script>
<script src="{{ BASE_PATH }}/assets/js/underscore-1.4.4.min.js"></script>
<script src="{{ BASE_PATH }}/assets/js/prettify-r224.js"></script>
<script src="{{ BASE_PATH }}/assets/js/holder-2.9.3.min.js"></script>
<script src="{{ BASE_PATH }}/assets/vendor/slick-1.5.9/slick.min.js"></script>
<script src="{{ BASE_PATH }}/assets/js/bootstrap.min.js"></script>
<script src="{{ BASE_PATH }}/assets/js/lightbox.min.js"></script>
<script src="{{ BASE_PATH }}/assets/js/smooth-scroll.min.js"></script>
<script src="{{ BASE_PATH }}/assets/js/site.js"></script>
<script src="{{ BASE_PATH }}/assets/js/autotrack.js"></script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-62479257-1', 'auto');
    ga('require', 'autotrack');
    ga('send', 'pageview');
</script>

</body>
</html>
