<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="google-site-verification" content="osM4sczQyefZOgwP3h7NLvcKoN9YLM63zh5xjJoa8SU" />

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=960">

    <!-- Le styles -->
    <link rel="stylesheet" href="{{ BASE_PATH }}/assets/css/site.css">
    <link rel="stylesheet" href="{{ BASE_PATH }}/assets/css/prettify.css">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ BASE_PATH }}/assets/img/tentacle-32x32.png">
    <link rel="apple-touch-icon" href="{{ BASE_PATH }}/assets/img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ BASE_PATH }}/assets/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ BASE_PATH }}/assets/img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ BASE_PATH }}/assets/img/apple-touch-icon-144x144.png">

</head>

<body data-spy="scroll" data-target=".navbar">

{% include navigation.html %}

<div id="wrap">
    <div id="main">
    {{ content }}
    </div>
</div>

{% include footer.html %}

<a href="https://github.com/foosel/OctoPrint"><img style="position: absolute; top: 42px; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.js"></script>
<script src="{{ BASE_PATH }}/assets/js/bootstrap.min.js"></script>
<script src="{{ BASE_PATH }}/assets/js/site.js"></script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-62479257-1', 'auto');
    ga('send', 'pageview');
</script>

</body>
</html>
