<div id="confirmation_dialog" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3 class="confirmation_dialog_title">{{ _('Are you sure?') }}</h3>
    </div>
    <div class="modal-body">
        <p class="confirmation_dialog_message"></p>
        <p class="confirmation_dialog_question">{{ _('Are you sure you want to proceed?') }}</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="confirmation_dialog_cancel btn" data-dismiss="modal" aria-hidden="true">{{ _('Cancel') }}</a>
        <a href="#" class="confirmation_dialog_acknowledge btn btn-danger">{{ _('Proceed') }}</a>
    </div>
</div>
