<div id="connectionprofiles_editor_dialog" class="modal hide fade-in">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3 data-bind="text: editor.dialogTitle">{{ _('Edit connection profile') }}</h3>
    </div>
    <div class="modal-body">
        <div class="full-sized-box">
            <form class="form-horizontal" action="javascript:void(0)">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#connectionprofiles_editor_dialog_general" data-toggle="tab">{{ _('General') }}</a></li>
                    <li><a href="#connectionprofiles_editor_dialog_printer" data-toggle="tab">{{ _('Printer profile') }}</a></li>
                    <li><a href="#connectionprofiles_editor_dialog_protocol" data-toggle="tab">{{ _('Protocol') }}</a></li>
                    <li><a href="#connectionprofiles_editor_dialog_transport" data-toggle="tab">{{ _('Transport') }}</a></li>
                </ul>

                <div class="tab-content">
                    <div id="connectionprofiles_editor_dialog_general" class="tab-pane active">
                        <div class="control-group">
                            <label class="control-label">{{ _('Name') }}</label>
                            <div class="controls">
                                <input class="input-block-level" type="text" data-bind="value: editor.profile.name, valueUpdate: 'afterkeydown'">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{ _('Identifier') }}</label>
                            <div class="controls">
                                <input class="input-block-level" type="text" data-bind="value: editor.profile.identifier, attr: {placeholder: editor.profile.identifierPlaceholder}">
                            </div>
                        </div>
                        <div data-bind="visible: editor.showOverwrite" class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    <input type="checkbox" data-bind="checked: editor.profile.overwrite"> {{ _('Overwrite existing profile') }}
                                </label>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    <input type="checkbox" data-bind="checked: editor.profile.autoconnect"> {{ _('Attempt auto connect on server start') }}
                                </label>
                            </div>
                        </div>
                        <div data-bind="visible: editor.showMakeDefault" class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    <input type="checkbox" data-bind="checked: editor.profile.makeDefault"> {{ _('Make default') }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div id="connectionprofiles_editor_dialog_printer" class="tab-pane">
                        <div class="control-group">
                            <label class="control-label">{{ _('Printer profile') }}</label>
                            <div class="controls">
                                <select class="input-block-level" data-bind="options: availablePrinterProfiles, optionsText: 'name', value: editor.profile.printerProfile"></select>
                            </div>
                        </div>
                    </div>
                    <div id="connectionprofiles_editor_dialog_protocol" class="tab-pane">
                        <div class="control-group">
                            <label class="control-label">{{ _('Protocol') }}</label>
                            <div class="controls">
                                <select class="input-block-level" data-bind="options: availableProtocols, optionsText: 'name', value: editor.profile.protocol"></select>
                            </div>
                        </div>
                        <!--ko let: { profile: editor.profile }-->
                        {% include "snippets/connectionprofiles/protocolEditor.jinja2" %}
                        <!--/ko-->
                    </div>
                    <div id="connectionprofiles_editor_dialog_transport" class="tab-pane">
                        <div class="control-group">
                            <label class="control-label">{{ _('Transport') }}</label>
                            <div class="controls">
                                <select class="input-block-level" data-bind="options: availableTransports, optionsText: 'name', value: editor.profile.transport"></select>
                            </div>
                        </div>
                        <!--ko let: { profile: editor.profile }-->
                        {% include "snippets/connectionprofiles/transportEditor.jinja2" %}
                        <!--/ko-->
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Close') }}</a>
        <a href="javascript:void(0)" class="btn" aria-hidden="true" data-bind="text: editor.buttonText, click: editor.confirm">{{ _('Save') }}</a>
    </div>
</div>
