<div id="connection_protocol_dialog" class="modal hide fade-in">
    <div class="modal-header">
        <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3>{{ _('Protocol Parameters') }}</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <!--ko let: { profile: { protocolParameters: protocolParameters, expertProtocolParameters: expertProtocolParameters } }-->
            {% include 'snippets/connectionprofiles/protocolEditor.jinja2' %}
            <!--/ko-->
        </form>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Close') }}</a>
    </div>
</div>

<div id="connection_transport_dialog" class="modal hide fade">
    <div class="modal-header">
        <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3>{{ _('Transport Parameters') }}</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" action="javascript:void(0)">
            <!--ko let: { profile: { transportParameters: transportParameters, expertTransportParameters: expertTransportParameters } }-->
            {% include 'snippets/connectionprofiles/transportEditor.jinja2' %}
            <!--/ko-->
        </form>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Close') }}</a>
    </div>
</div>
