<div id="connection_protocol_dialog" class="modal hide fade-in">
    <div class="modal-header">
        <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3>{{ _('Protocol Parameters') }}</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" action="javascript:void(0)">
            <!-- ko foreach: protocolParameters -->
            <!-- ko if: !expert -->
            <!-- ko template: { name: 'connection_dialog_template_' + $data.type, data: $data } --><!-- /ko -->
            <!-- /ko -->
            <!-- /ko -->

            <div class="advanced_options" data-bind="visible: expertProtocolParameters">
                <div><small><a class="muted" href="javascript:void(0)" data-bind="toggleContent: { class: 'fa-caret-right fa-caret-down', parent: '.advanced_options', container: '.hide' }"><i class="fa fa-caret-right"></i> {{ _('Expert options') }}</a></small></div>
                <div class="hide">
                    <!-- ko foreach: protocolParameters -->
                    <!-- ko if: expert -->
                    <!-- ko template: { name: 'connection_dialog_template_' + $data.type, data: $data } --><!-- /ko -->
                    <!-- /ko -->
                    <!-- /ko -->
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Close') }}</a>
    </div>
</div>

<div id="connection_transport_dialog" class="modal hide fade">
    <div class="modal-header">
        <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3>{{ _('Transport Parameters') }}</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" action="javascript:void(0)">
            <!-- ko foreach: transportParameters -->
            <!-- ko if: !expert -->
            <!-- ko template: { name: 'connection_dialog_template_' + $data.type, data: $data } --><!-- /ko -->
            <!-- /ko -->
            <!-- /ko -->

            <div class="advanced_options" data-bind="visible: expertTransportParameters">
                <div><small><a class="muted" href="javascript:void(0)" data-bind="toggleContent: { class: 'fa-caret-right fa-caret-down', parent: '.advanced_options', container: '.hide' }"><i class="fa fa-caret-right"></i> {{ _('Expert options') }}</a></small></div>
                <div class="hide">
                    <!-- ko foreach: transportParameters -->
                    <!-- ko if: expert -->
                    <!-- ko template: { name: 'connection_dialog_template_' + $data.type, data: $data } --><!-- /ko -->
                    <!-- /ko -->
                    <!-- /ko -->
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Close') }}</a>
    </div>
</div>

<script type="text/html" id="connection_dialog_template_text">
    <div class="control-group" data-bind="css: { 'control-changed': $data.modified }">
        <a href="javascript:void(0)" class="fa fa-undo control-undo" title="Reset to default" data-bind="click: reset, visible: $data.modified() && $root.isErrorOrClosed()"></a>
        <label class="control-label" data-bind="markdownInline: $data.title, css: { 'control-changed': $data.modified }"></label>
        <div class="controls">
            <input class="input-block-level" type="text" data-bind="value: $data.value, attr: {placeholder: $data.default}, css: {disabled: !$root.isErrorOrClosed()}, enable: $root.isErrorOrClosed()">
            <span class="help-block" data-bind="visible: $data.help, markdownInline: $data.help"></span>
        </div>
    </div>
</script>
<script type="text/html" id="connection_dialog_template_url">
    <div class="control-group" data-bind="css: { 'control-changed': $data.modified }">
        <a href="javascript:void(0)" class="fa fa-undo control-undo" title="Reset to default" data-bind="click: reset, visible: $data.modified() && $root.isErrorOrClosed()"></a>
        <label class="control-label" data-bind="markdownInline: $data.title, css: { 'control-changed': $data.modified }"></label>
        <div class="controls">
            <input class="input-block-level" type="text" data-bind="value: $data.value, attr: {placeholder: $data.default}, css: {disabled: !$root.isErrorOrClosed()}, enable: $root.isErrorOrClosed()">
            <span class="help-block" data-bind="visible: $data.help, markdownInline: $data.help"></span>
        </div>
    </div>
</script>
<script type="text/html" id="connection_dialog_template_integer">
    <div class="control-group" data-bind="css: { 'control-changed': $data.modified }">
        <a href="javascript:void(0)" class="fa fa-undo control-undo" title="Reset to default" data-bind="click: reset, visible: $data.modified() && $root.isErrorOrClosed()"></a>
        <label class="control-label" data-bind="markdownInline: $data.title, css: { 'control-changed': $data.modified }"></label>
        <div class="controls">
            <!-- ko if: $data.unit -->
            <div class="input-append">
                <input class="input-small" type="number" step="1" data-bind="value: $data.value, attr: {placeholder: $data.default, min: $data.min, max: $data.max}, css: {disabled: !$root.isErrorOrClosed()}, enable: $root.isErrorOrClosed()">
                <span class="add-on" data-bind="text: $data.unit"></span>
            </div>
            <!-- /ko -->
            <!-- ko ifnot: $data.unit -->
            <input class="input-small" type="number" step="1" data-bind="value: $data.value, attr: {placeholder: $data.default, min: $data.min, max: $data.max}, css: {disabled: !$root.isErrorOrClosed()}, enable: $root.isErrorOrClosed()">
            <!-- /ko -->
            <span class="help-block" data-bind="visible: $data.help, markdownInline: $data.help"></span>
        </div>
    </div>
</script>
<script type="text/html" id="connection_dialog_template_float">
    <div class="control-group" data-bind="css: { 'control-changed': $data.modified }">
        <a href="javascript:void(0)" class="fa fa-undo control-undo" title="Reset to default" data-bind="click: reset, visible: $data.modified() && $root.isErrorOrClosed()"></a>
        <label class="control-label" data-bind="markdownInline: $data.title, css: { 'control-changed': $data.modified }"></label>
        <div class="controls">
            <!-- ko if: $data.unit -->
            <div class="input-append">
                <input class="input-small" type="number" data-bind="value: $data.value, attr: {placeholder: $data.default, min: $data.min, max: $data.max}, css: {disabled: !$root.isErrorOrClosed()}, enable: $root.isErrorOrClosed()">
                <span class="add-on" data-bind="text: $data.unit"></span>
            </div>
            <!-- /ko -->
            <!-- ko ifnot: $data.unit -->
            <input class="input-small" type="number" data-bind="value: $data.value, attr: {placeholder: $data.default, min: $data.min, max: $data.max}, css: {disabled: !$root.isErrorOrClosed()}, enable: $root.isErrorOrClosed()">
            <!-- /ko -->
            <span class="help-block" data-bind="visible: $data.help, markdownInline: $data.help"></span>
        </div>
    </div>
</script>
<script type="text/html" id="connection_dialog_template_choice">
    <div class="control-group" data-bind="css: { 'control-changed': $data.modified }">
        <a href="javascript:void(0)" class="fa fa-undo control-undo" title="Reset to default" data-bind="click: reset, visible: $data.modified() && $root.isErrorOrClosed()"></a>
        <label class="control-label" data-bind="markdownInline: $data.title, css: { 'control-changed': $data.modified }"></label>
        <div class="controls">
            <select class="input-block-level" data-bind="options: $data.choices, optionsText: 'title', optionsValue: 'value', value: $data.value, css: {disabled: !$root.isErrorOrClosed()}, enable: $root.isErrorOrClosed()"></select>
            <span class="help-block" data-bind="visible: $data.help, markdownInline: $data.help"></span>
        </div>
    </div>
</script>
<script type="text/html" id="connection_dialog_template_presetchoice">
    <div class="control-group" data-bind="css: { 'control-changed': $data.modified }">
        <a href="javascript:void(0)" class="fa fa-undo control-undo" title="Reset to default" data-bind="click: reset, visible: $data.modified() && $root.isErrorOrClosed()"></a>
        <label class="control-label" data-bind="markdownInline: $data.title, css: { 'control-changed': $data.modified }"></label>
        <div class="controls">
            <select class="input-block-level" data-bind="options: $data.choices, optionsText: 'title', optionsValue: 'value', value: $data.value, css: {disabled: !$root.isErrorOrClosed()}, enable: $root.isErrorOrClosed()"></select>
            <span class="help-block" data-bind="visible: $data.help, markdownInline: $data.help"></span>
        </div>
    </div>
    <!-- ko template: { name: 'connection_dialog_template_group', data: group } --><!-- /ko -->
</script>
<script type="text/html" id="connection_dialog_template_smallchoice">
    <div class="control-group" data-bind="css: { 'control-changed': $data.modified }">
        <a href="javascript:void(0)" class="fa fa-undo control-undo" title="Reset to default" data-bind="click: reset, visible: $data.modified() && $root.isErrorOrClosed()"></a>
        <label class="control-label" data-bind="markdownInline: $data.title, css: { 'control-changed': $data.modified }"></label>
        <div class="controls">
            <!-- ko foreach: choices -->
            <label class="radio">
                <input type="radio" data-bind="attr: { name: 'connection_dialog_' + $parent.name + '_group' }, value: $data.value, checked: $parent.value, css: {disabled: !$root.isErrorOrClosed()}, enable: $root.isErrorOrClosed()"> <span data-bind="markdownInline: $data.title"></span> <span class="label label-important" data-bind="visible: $data.warning">{{ _('Warning') }}</span>  <!-- ko foreach: $data.labels --><span class="label" data-bind="text: $data"></span><!-- /ko -->
                <span class="help-block" data-bind="visible: $data.help, markdownInline: $data.help"></span>
            </label>
            <!-- /ko -->
        </div>
    </div>
</script>
<script type="text/html" id="connection_dialog_template_boolean">
    <div class="control-group" data-bind="css: { 'control-changed': $data.modified }">
        <a href="javascript:void(0)" class="fa fa-undo control-undo" title="Reset to default" data-bind="click: reset, visible: $data.modified() && $root.isErrorOrClosed()"></a>
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: $data.value, css: {disabled: !$root.isErrorOrClosed()}, enable: $root.isErrorOrClosed()"> <span data-bind="markdownInline: $data.title, css: { 'control-changed': $data.modified }"></span> <span class="label label-important" data-bind="visible: $data.warning">{{ _('Warning') }}</span> <!-- ko foreach: $data.labels --><span class="label" data-bind="text: $data"></span><!-- /ko -->
            </label>
            <span class="help-block" data-bind="visible: $data.help, markdownInline: $data.help"></span>
        </div>
    </div>
</script>
<script type="text/html" id="connection_dialog_template_suggestion">
    <div class="control-group" data-bind="css: { 'control-changed': $data.modified }">
        <a href="javascript:void(0)" class="fa fa-undo control-undo" title="Reset to default" data-bind="click: reset, visible: $data.modified() && $root.isErrorOrClosed()"></a>
        <label class="control-label" data-bind="markdownInline: $data.title, css: { 'control-changed': $data.modified }"></label>
        <div class="controls">
            <select class="input-block-level" data-bind="options: $data.suggestions, optionsText: 'title', optionsValue: 'value', value: $data.value, css: {disabled: !$root.isErrorOrClosed()}, enable: $root.isErrorOrClosed()"></select>
            <span class="help-block" data-bind="visible: $data.help, markdownInline: $data.help"></span>
        </div>
    </div>
</script>
<script type="text/html" id="connection_dialog_template_list">
    <div class="control-group" data-bind="css: { 'control-changed': $data.modified }">
        <a href="javascript:void(0)" class="fa fa-undo control-undo" title="Reset to default" data-bind="click: reset, visible: $data.modified() && $root.isErrorOrClosed()"></a>
        <label class="control-label" data-bind="markdownInline: $data.title, css: { 'control-changed': $data.modified }"></label>
        <div class="controls">
            <textarea data-bind="value: $data.value, css: {disabled: !$root.isErrorOrClosed()}, enable: $root.isErrorOrClosed()"></textarea>
            <span class="help-block" data-bind="visible: $data.help, markdownInline: $data.help"></span>
        </div>
    </div>
</script>
<script type="text/html" id="connection_dialog_template_smalllist">
    <div class="control-group" data-bind="css: { 'control-changed': $data.modified }">
        <a href="javascript:void(0)" class="fa fa-undo control-undo" title="Reset to default" data-bind="click: reset, visible: $data.modified() && $root.isErrorOrClosed()"></a>
        <label class="control-label" data-bind="markdownInline: $data.title, css: { 'control-changed': $data.modified }"></label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: $data.value, css: {disabled: !$root.isErrorOrClosed()}, enable: $root.isErrorOrClosed()">
            <span class="help-block" data-bind="visible: $data.help, markdownInline: $data.help"></span>
        </div>
    </div>
</script>
<script type="text/html" id="connection_dialog_template_group">
    <fieldset>
        <legend data-bind="markdownInline: $data.title"></legend>
        <p data-bind="visible: $data.help, markdownInline: $data.help"></p>
        <!-- ko foreach: params -->
        <!-- ko if: !expert -->
        <!-- ko template: { name: 'connection_dialog_template_' + $data.type, data: $data } --><!-- /ko -->
        <!-- /ko -->
        <!-- /ko -->

        <div class="advanced_options" data-bind="visible: expertParameters">
            <div><small><a href="#" class="muted" data-bind="toggleContent: { class: 'fa-caret-right fa-caret-down', parent: '.advanced_options', container: '.hide' }"><i class="fa fa-caret-right"></i> {{ _('Expert options') }}</a></small></div>
            <div class="hide">
                <!-- ko foreach: params -->
                <!-- ko if: expert -->
                <!-- ko template: { name: 'connection_dialog_template_' + $data.type, data: $data } --><!-- /ko -->
                <!-- /ko -->
                <!-- /ko -->
            </div>
        </div>
    </fieldset>
</script>
<script type="text/html" id="connection_dialog_template_conditionalgroup">
    <div class="control-group" data-bind="css: { 'control-changed': $data.modified }">
        <a href="javascript:void(0)" class="fa fa-undo control-undo" title="Reset to default" data-bind="click: reset, visible: $data.modified() && $root.isErrorOrClosed()"></a>
        <label class="control-label" data-bind="markdownInline: $data.title, css: { 'control-changed': $data.modified }"></label>
        <div class="controls">
            <select class="input-block-level" data-bind="options: $data.choices, optionsText: 'title', optionsValue: 'value', value: $data.value, css: {disabled: !$root.isErrorOrClosed()}, enable: $root.isErrorOrClosed()"></select>
            <span class="help-block" data-bind="visible: $data.help, markdownInline: $data.help"></span>
        </div>
    </div>

    <!-- ko foreach: $data.groups[$data.value()] -->
    <!-- ko if: !expert -->
    <!-- ko template: { name: 'connection_dialog_template_' + $data.type, data: $data } --><!-- /ko -->
    <!-- /ko -->
    <!-- /ko -->

    <div class="advanced_options" data-bind="visible: $data.expertParameters[$data.value]">
        <div><small><a href="#" class="muted" data-bind="toggleContent: { class: 'fa-caret-right fa-caret-down', parent: '.advanced_options', container: '.hide' }"><i class="fa fa-caret-right"></i> {{ _('Expert options') }}</a></small></div>
        <div class="hide">
            <!-- ko foreach: $data.groups[$data.value()] -->
            <!-- ko if: expert -->
            <!-- ko template: { name: 'connection_dialog_template_' + $data.type, data: $data } --><!-- /ko -->
            <!-- /ko -->
            <!-- /ko -->
        </div>
    </div>
</script>
