<div id="forgot_password_dialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="forgot_password_dialog_label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3 id="forgot_password_dialog_label">{{ _('Forgot password?') }}</h3>
  </div>
  <div class="modal-body">
    <p>{{ _('See detailed instructions at <a href="https://discourse.octoprint.org/t/i-forgot-my-octoprint-password-how-can-i-reset-it/215">I forgot my OctoPrint password, how can I reset it?</a>') }}</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-block" data-dismiss="modal" aria-hidden="true">{{ _('Close') }}</button>
  </div>
</div>
