<div id="message_dialog" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3 class="message_dialog_title"></h3>
    </div>
    <div class="modal-body">
        <p class="message_dialog_message"></p>
    </div>
    <div class="modal-footer">
        <a href="#" class="message_dialog_close btn" data-dismiss="modal" aria-hidden="true">{{ _('Close') }}</a>
    </div>
</div>
