<div id="settings_dialog" class="modal hide fade container" tabindex="-1" role="dialog" aria-labelledby="settings_dialog_label" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 id="settings_dialog_label">{{ _('OctoPrint Settings') }}</h3>
    </div>
    <div class="modal-body">
        <div class="tabbable">
            <ul class="nav nav-list span4" id="settingsTabs">
                <li class="nav-header">{{ _('Printer') }}</li>
                <li class="active"><a href="#settings_serialConnection" data-toggle="tab">{{ _('Serial Connection') }}</a></li>
                <li><a href="#settings_printerProfiles" data-toggle="tab">{{ _('Printer Profiles') }}</a></li>
                <li><a href="#settings_temperature" data-toggle="tab">{{ _('Temperatures') }}</a></li>
                <li><a href="#settings_terminalFilters" data-toggle="tab">{{ _('Terminal filters') }}</a></li>
                <li class="nav-header">{{ _('Features') }}</li>
                <li><a href="#settings_features" data-toggle="tab">{{ _('Features') }}</a></li>
                <li><a href="#settings_webcam" data-toggle="tab">{{ _('Webcam') }}</a></li>
                {% if enableAccessControl %}<li><a href="#settings_users" data-toggle="tab">{{ _('Access Control') }}</a></li>{% endif %}
                <li><a href="#settings_api" data-toggle="tab">{{ _('API') }}</a></li>
                <li class="nav-header">OctoPrint</li>
                <li><a href="#settings_folder" data-toggle="tab">{{ _('Folders') }}</a></li>
                <li><a href="#settings_appearance" data-toggle="tab">{{ _('Appearance') }}</a></li>
                <li><a href="#settings_logs" data-toggle="tab">{{ _('Logs') }}</a></li>
                {% if settingsPlugins %}
                    <li class="nav-header">Plugins</li>
                    {% for plugin_name, vars in settingsPlugins.items() %}
                        {% if vars._settings_menu_entry %}
                            <li><a href="#settings_plugin_{{ plugin_name }}" data-toggle="tab">{{ vars._settings_menu_entry }}</a></li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </ul>

            <div class="tab-content span8">
                {% include 'dialogs/settings/serialconnection.jinja2' %}
                {% include 'dialogs/settings/printerprofiles.jinja2' %}
                {% include 'dialogs/settings/temperatures.jinja2' %}
                {% include 'dialogs/settings/terminalfilters.jinja2' %}
                {% include 'dialogs/settings/features.jinja2' %}
                {% include 'dialogs/settings/webcam.jinja2' %}
                {% include 'dialogs/settings/accesscontrol.jinja2' %}
                {% include 'dialogs/settings/api.jinja2' %}
                {% include 'dialogs/settings/folders.jinja2' %}
                {% include 'dialogs/settings/appearance.jinja2' %}
                {% include 'dialogs/settings/logs.jinja2' %}

                {% for plugin_name, vars in settingsPlugins.items() %}
                    <div class="tab-pane" id="settings_plugin_{{ plugin_name }}" data-bind="allowBindings: false">
                        {% include plugin_name+"_settings_dialog.jinja2" ignore missing %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Cancel') }}</button>
        <button class="btn btn-primary" data-bind="click: saveData">{{ _('Save') }}</button>
    </div>
</div>
