<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=960">

    <!-- Le styles -->
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/site.css">
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/prettify.css">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ ASSET_PATH }}/img/tentacle-32x32.png">
    <link rel="apple-touch-icon" href="{{ ASSET_PATH }}/img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ ASSET_PATH }}/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ ASSET_PATH }}/img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ ASSET_PATH }}/img/apple-touch-icon-144x144.png">

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

</head>

<body data-spy="scroll" data-target=".navbar">

{% include themes/octoprint/navigation.html %}

<div id="wrap">
    <div id="main">
    {{ content }}
    </div>
</div>

{% include themes/octoprint/footer.html %}

<a href="https://github.com/foosel/OctoPrint"><img style="position: absolute; top: 42px; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.js"></script>
<script src="{{ ASSET_PATH }}/js/bootstrap.min.js"></script>
<script src="{{ ASSET_PATH }}/js/site.js"></script>

{% include JB/analytics %}

</body>
</html>
