      <footer>
          <div class="container">
              <div class="row">
                  <div class="span4">
                      <h2>Contact</h2>
                      <ul class="icons">
                          <li><i class="icon-envelope"></i> Mailinglist: <a href="mailto:octoprint+subscribe@googlegroups.com?subject=Subscribe">Subscribe</a> (<a href="https://groups.google.com/group/octoprint">Archive</a>)</li>
                          <li><i class="icon-google-plus"></i> G+ Page: <a href="https://plus.google.com/+OctoprintOrg/posts" target="_blank">+OctoPrint</a></li>
                          <li><i class="icon-google-plus"></i> G+ Community: <a href="https://plus.google.com/communities/102771308349328485741" target="_blank">+OctoPrint</a></li>
                          <li><i class="icon-legal"></i> <a href="/imprint/">Impressum / Imprint</a></li>
                      </ul>
                  </div>
                  <!--div class="span4">
                      <h2>Recent Posts</h2>
                      <ul class="posts icons">
                          {% for post in site.posts limit: 5 %}
                          <li>
                              <i class="icon-pencil"></i>
                              <a href="{{ post.url }}">{{ post.title }}</a>
                              <span>({{ post.date | date:"%Y-%m-%d" }})</span>
                          </li>
                          {% endfor %}
                      </ul>
                  </div-->
                  <div class="span4"></div>
                  <div class="span4">
                      <img src="{{ BASE_PATH }}/assets/img/logo-footer.png" class="pull-right">
                  </div>
              </div>
          </div>
      </footer>
