<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="{{ HOME_PATH }}"><img src="{{ ASSET_PATH }}/img/tentacle-20x20.png" class="tentacle"> {{ site.title }}</a>
      <ul class="nav">
        <!--li><a href="{{BASE_PATH}}/blog/">Blog</a></li-->
        <li><a href="https://github.com/foosel/OctoPrint">Source</a></li>
        <li><a href="https://github.com/foosel/OctoPrint/wiki">Wiki</a></li>
        <li><a href="https://github.com/foosel/OctoPrint/issues">Issuetracker</a></li>
      </ul>
    </div>
  </div>
</div>
