<h3>{{ _('Anonymous Usage Tracking') }}</h3>

{% include "snippets/plugins/tracking/trackingDescription.jinja2" %}

<form class="form-horizontal">
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.tracking.enabled"> {{ _('Enable anonymous usage tracking') }}
            </label>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" title="{{ _('Random unique instance ID') }}">{{ _('Instance ID') }}</label>
        <div class="controls">
            <span style="padding-top: 5px; margin-bottom: 5px; display: inline-block" data-bind="text: settings.plugins.tracking.unique_id() || 'N/A'"></span>
        </div>
    </div>
</form>

{% include "snippets/plugins/tracking/trackingDetails.jinja2" %}
