<h3>{{ _('Achievements') }}</h3>

<div class="achievement-list" data-bind="foreach: achievements">
    <div class="achievement-item" data-bind="css: {achieved: $data.achieved}">
        <div class="achievement-logo"></div>
        <div class="achievement-info">
            <strong data-bind="text: name"></strong><br>
            <em data-bind="text: description"></em><br>
            <small data-bind="visible: $data.achieved">{{ _('Unlocked:') }} <span data-bind="text: formatDate($data.achieved)"></span></small>
        </div>
    </div>
</div>

<p data-bind="visible: hiddenAchievements"><span data-bind="text: hiddenAchievementsText"></span> <i class="fa-solid fa-user-secret"></i></p>

<h3>{{ _('Instance stats') }}</h3>

<!-- ko if: statsFetched() -->
<dl class="dl-horizontal">
    <dt>{{ _('Collecting since') }}</dt>
    <dd data-bind="text: collectingSince"></dd>

    <dt>{{ _('Collection started on') }}</dt>
    <dd data-bind="text: collectionVersion"></dd>

    <dt>{{ _('Versions seen') }}</dt>
    <dd data-bind="text: stats.seen_versions"></dd>

    <dt>{{ _('Number of server starts') }}</dt>
    <dd data-bind="text: stats.server_starts"></dd>

    <dt>{{ _('Prints') }}</dt>
    <dd data-bind="text: prints"></dd>

    <dt data-bind="visible: stats.print_duration_total">{{ _('Total print duration') }}</dt>
    <dd data-bind="visible: stats.print_duration_total, text: duration"></dd>

    <dt data-bind="visible: stats.longest_print_duration">{{ _('Longest print') }}</dt>
    <dd data-bind="visible: stats.longest_print_duration, text: longestPrint"></dd>
</dl>
<!-- /ko -->
