<table class="table table-condensed table-hover settings_accesscontrol_groups_list">
    <tbody data-bind="foreach: groupsList()">
    <tr>
        <td class="settings_accesscontrol_groups_list_checkbox"><input type="checkbox" data-bind="checkedValue: name, checked: $parents[1].editor.groups"></td>
        <td class="settings_accesscontrol_groups_list_name" style="cursor: pointer" data-bind="click: function() { $parents[1].editor.toggleGroup($data.name) }, attr: {title: description}">
            <span class="name" data-bind="text: name, style: { fontWeight: ($parents[1].editor.groupSelected($data.name)) ? 'bold' : 'normal' }"></span><br>
            <small class="description" data-bind="text: description"></small><br>
            <small class="permissions muted" data-bind="text: $parents[1].editor.joinedGroupPermissions($data)"></small>
        </td>
    </tr>
    </tbody>
</table>
