
<table class="table table-condensed table-hover" id="system_users">
    <thead>
    <tr>
        <th class="settings_users_name">{{ _('Name') }}</th>
        <th class="settings_users_groups">{{ _('Groups') }}</th>
        <th class="settings_users_permissions">{{ _('Permissions') }}</th>
        <th class="settings_users_active">{{ _('Active') }}</th>
        <th class="settings_users_actions">{{ _('Action') }}</th>
    </tr>
    </thead>
    <tbody data-bind="foreach: $root.access.users.listHelper.paginatedItems">
    <tr>
        <td class="settings_users_name"><span data-bind="text: name"></span><span class="muted" data-bind="visible: $root.api_enabled() && apikey"><br /><small>{{ _('API Key') }}: <span data-bind="text: apikey"></span></small></span></td>
        <td class="settings_users_groups"><span data-bind="text: $root.access.groupList($data)"></span></td>
        <td class="settings_users_permissions"><span data-bind="text: $root.access.permissionList($data)"></span></td>
        <td class="settings_users_active"><i class="fa" data-bind="css: { 'fa-check-square-o': active, 'a-square-o': !active }"></i></td>
        <td class="settings_users_actions">
            <a href="#" class="fa fa-pencil" title="{{ _('Update User') }}" data-bind="click: function() { $root.access.users.showEditUserDialog($data); }"></a>&nbsp;|&nbsp;<a href="#" class="fa fa-key" title="{{ _('Change password') }}" data-bind="click: function() { $root.access.users.showChangePasswordDialog($data); }"></a>&nbsp;|&nbsp;<a href="#" class="fa fa-trash-o" title="{{ _('Delete user') }}" data-bind="click: function() { $root.access.users.removeUser($data); }"></a>
        </td>
    </tr>
    </tbody>
</table>
<div class="pagination pagination-mini pagination-centered">
    <ul>
        <li data-bind="css: {disabled: $root.access.users.listHelper.currentPage() === 0}"><a href="#" data-bind="click: access.users.listHelper.prevPage">«</a></li>
    </ul>
    <ul data-bind="foreach: access.users.listHelper.pages">
        <li data-bind="css: { active: $data.number === $root.access.users.listHelper.currentPage(), disabled: $data.number === -1 }"><a href="#" data-bind="text: $data.text, click: function() { $root.access.users.listHelper.changePage($data.number); }"></a></li>
    </ul>
    <ul>
        <li data-bind="css: {disabled: $root.access.users.listHelper.currentPage() === access.users.listHelper.lastPage()}"><a href="#" data-bind="click: access.users.listHelper.nextPage">»</a></li>
    </ul>
</div>

<button title="{{ _('Add user') }}" class="btn" data-bind="click: $root.access.users.showAddUserDialog"><i class="fa fa-plus"></i> {{ _('Add user') }}</button>

<!-- Modals for user management -->

<script type="text/html" id="users-permission-template">
    <!-- ko foreach: $root.access.permissions.permissionsList() -->
        <label class="checkbox">
            <input type="checkbox" data-bind="checkedValue: name, checked: $root.access.users.editorPermissions"><span data-bind="text: name"></span><br>
            <span class="description" data-bind="text: description"></span>
        </label>
    <!-- /ko -->
</script>
<script type="text/html" id="users-group-template">
    <!-- ko foreach: $root.access.groups.groupsList() -->
        <label class="checkbox">
            <input type="checkbox" data-bind="checkedValue: name, checked: $root.access.users.editorGroups"><span data-bind="text: name"></span><br>
            <span class="description" data-bind="text: description"></span>
        </label>
    <!-- /ko -->
</script>

<div id="settings-usersDialogAddUser" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3>{{ _('Add user') }}</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="settings-usersDialogAddUserName">{{ _('Username') }}</label>
                <div class="controls">
                    <input type="text" class="input-block-level" id="settings-usersDialogAddUserName" data-bind="value: $root.access.users.editorUsername" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="settings-usersDialogAddUserPassword1">{{ _('Password') }}</label>
                <div class="controls">
                    <input type="password" class="input-block-level" id="settings-usersDialogAddUserPassword1" data-bind="value: $root.access.users.editorPassword" required>
                </div>
            </div>
            <div class="control-group" data-bind="css: {error: $root.access.users.editorPasswordMismatch()}">
                <label class="control-label" for="settings-usersDialogAddUserPassword2">{{ _('Repeat Password') }}</label>
                <div class="controls">
                    <input type="password" class="input-block-level" id="settings-usersDialogAddUserPassword2" data-bind="value: $root.access.users.editorRepeatedPassword, valueUpdate: 'afterkeydown'" required>
                    <span class="help-inline" data-bind="visible: $root.access.users.editorPasswordMismatch()">{{ _('Passwords do not match') }}</span>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" id="settings-usersDialogAddUserActive" data-bind="checked: $root.access.users.editorActive"> {{ _('Active') }}
                    </label>
                </div>
            </div>
            <div class="control-group">
                <div class="groups_section">
                    <h4 class="controls" data-bind="toggleContent: { class: 'icon-caret-right icon-caret-down', container: '.groups_section > div' }"><i class='icon-caret-right'></i>{{ _('Groups') }}</h4>
                    <div class="controls content hidden" data-bind="template: 'users-group-template'"></div>
                </div>
                <div class="permissions_section">
                    <h4 class="controls" data-bind="toggleContent: { class: 'icon-caret-right icon-caret-down', container: '.permissions_section > div' }"><i class='icon-caret-right'></i>{{ _('Permissions') }}</h4>
                    <div class="controls content hidden" data-bind="template: 'users-permission-template'"></div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Abort') }}</button>
        <button class="btn btn-primary" data-bind="click: function() { $root.access.users.confirmAddUser(); }, enable: !$root.access.users.editorPasswordMismatch()">{{ _('Confirm') }}</button>
    </div>
</div>

<div id="settings-usersDialogEditUser" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3>{{ _('Edit user "%(user)s"', user = '<span data-bind="text: $root.access.users.editorUsername"></span>') }}</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" id="settings-usersDialogEditUserActive" data-bind="checked: $root.access.users.editorActive"> {{ _('Active') }}
                    </label>
                </div>
            </div>
            <div class="control-group">
                <div class="groups_section">
                    <h4 class="controls" data-bind="toggleContent: { class: 'icon-caret-right icon-caret-down', container: '.groups_section > div' }"><i class='icon-caret-right'></i>{{ _('Groups') }}</h4>
                    <div class="controls content hidden" data-bind="template: 'users-group-template'"></div>
                </div>
                <div class="permissions_section">
                    <h4 class="controls" data-bind="toggleContent: { class: 'icon-caret-right icon-caret-down', container: '.permissions_section > div' }"><i class='icon-caret-right'></i>{{ _('Permissions') }}</h4>
                    <div class="controls content hidden" data-bind="template: 'users-permission-template'"></div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Abort') }}</button>
        <button class="btn btn-primary" data-bind="click: function() { $root.access.users.confirmEditUser(); }">{{ _('Confirm') }}</button>
    </div>
</div>

<div id="settings-usersDialogChangePassword" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3>{{ _('Change password for user "%(user)s"', user='<span data-bind="text: $root.access.users.editorUsername"></span>') }}</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="settings-usersDialogChangePasswordPassword1">{{ _('New Password') }}</label>
                <div class="controls">
                    <input type="password" class="input-block-level" id="settings-usersDialogChangePasswordPassword1" data-bind="value: $root.access.users.editorPassword" required>
                </div>
            </div>
            <div class="control-group" data-bind="css: {error: $root.access.users.editorPasswordMismatch()}">
                <label class="control-label" for="settings-usersDialogChangePasswordPassword2">{{ _('Repeat Password') }}</label>
                <div class="controls">
                    <input type="password" class="input-block-level" id="settings-usersDialogChangePasswordPassword2" data-bind="value: $root.access.users.editorRepeatedPassword, valueUpdate: 'afterkeydown'" required>
                    <span class="help-inline" data-bind="visible: $root.access.users.editorPasswordMismatch()">{{ _('Passwords do not match') }}</span>
                </div>
            </div>
            <fieldset data-bind="visible: api_enabled">
                <legend>Apikey</legend>
                <div class="control-group">
                    <label class="control-label">{{ _('Current API Key') }}</label>
                    <div class="controls">
                        <div class="input-append">
                            <input type="text" class="input-block-level uneditable-input" data-bind="value: $root.access.users.editorApikey, valueUpdate: 'input', attr: {placeholder: '{{ _('N/A') }}'}">
                            <a class="btn add-on" title="Copy API Key to clipboard" data-bind="click: $root.access.users.copyApikey, enable: $root.access.users.editorApikey"><i class="fa fa-copy"></i></a>
                            <a class="btn add-on" title="Generate new API Key" data-bind="click: function() { $root.access.users.confirmGenerateApikey(); }"><i class="fa fa-refresh"></i></a>
                            <a class="btn add-on btn-danger" title="Delete API Key" data-bind="click: function() { $root.access.users.confirmDeleteApikey(); }"><i class="fa fa-trash-o"></i></a>
                        </div>

                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Abort') }}</button>
        <button class="btn btn-primary" data-bind="click: function() { $root.access.users.confirmChangePassword(); }, enable: !$root.access.users.editorPasswordMismatch()">{{ _('Confirm') }}</button>
    </div>
</div>
