{% if enableSystemMenu %}
    <li class="dropdown" style="display: none" data-bind="visible: loginState.isAdmin">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-off"></i> {{ _('System') }}
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" data-bind="foreach: systemActions">
            <li><a href="#" data-bind="click: $root.triggerAction, text: name"></a></li>
        </ul>
    </li>
{% endif %}
