<h3>{{ _('All Done!') }}</h3>

<p>{% trans %}
    Your OctoPrint installation is now all set up and ready to go.
{% endtrans %}</p>

<h4>{{ _('On your printer\'s safety') }}</h4>

<p>{% trans %}
    Even with OctoPrint attached you should <strong class="text-error">never leave
    your printer run completely unattended</strong>. The electronics in our consumer printers can and sometimes sadly do
    catch fire, so stay or have someone else stay close enough to physically intervene in case of such catastrophic
    failure.
{% endtrans %}</p>

<h4>{{ _('If you enjoy OctoPrint...') }}</h4>

<p>{% trans url='http://octoprint.org/support-octoprint/' %}
    Please consider to <strong><a href="{{ url }}" target="_blank">support OctoPrint's ongoing development</a></strong>,
    which is only possible thanks to funding by users like you! You can also find this link in the "About" dialog.
    <strong>Thank you!</strong>
{% endtrans %}</p>

<p>{% trans %}
    With all that being said, <strong>Happy and Safe Printing</strong>!
{% endtrans %}</p>
