<h3>{{ _('All Done!') }}</h3>

<p>{% trans %}
    Your OctoPrint installation is now all set up and ready to go. Happy
    printing!
{% endtrans %}</p>

<p>{% trans url='http://octoprint.org/support-octoprint/' %}
    If you enjoy OctoPrint, please consider <a href="{{ url }}" target="_blank">supporting its ongoing
    development</a>, which is fully funded by users like you! You can also find this link in the "About" dialog. <strong>Thank you!</strong>
{% endtrans %}</p>

